{% extends 'base.html' %}

{% block content %}
  <main class="pt-5 m-5">
    <div class="row mt-5 justify-content-center">
      <div style="max-width: 40rem;">
        <form class="card card-body" method="POST" style="background-color: rgb(255, 255, 255, 0.8);">
          <h1 class="mb-4">Ceder permisos de autorización</h1>

          {{ error }}

          {% csrf_token %}

          <p><b>Usuarios con permisos de 
            {% if current_user.compras %}compras:{% endif %}
            {% if current_user.finanzas %}finanzas:{% endif %}
            {% if current_user.sistemas %}sistemas:{% endif %}
          </b></p>

          {% for autorizador in autorizadores %}
            <div style="margin-bottom:1rem;">
              <input 
                type="checkbox" 
                id="id_checkbox_autorizador_{{autorizador.id}}" 
                name="{{autorizador.id}}" 
                {% if current_user.compras and autorizador.compras %}
                  checked 
                {% elif current_user.finanzas and autorizador.finanzas %}
                  checked
                {% elif current_user.sistemas and autorizador.sistemas %}
                  checked
                {% endif %}
                {% if autorizador.autorizador %}
                  disabled
                {% endif %}
              />
              <label for="id_checkbox_autorizador_{{autorizador.id}}">{{ autorizador.get_full_name }}</label>
            </div>
          {% endfor %}

          <button id="btn-guardar" class="btn w-100" type="submit" style="background-color: #008841; color: white; font-weight: bold;">Guardar</button>
        </form>

        <button id="btn-back" class="btn btn-secondary">Volver</button>
      </div>
    </div>
  </main>

  <style>
    #btn-back {
      width: 10rem;
      margin-top: 2rem;
      font-weight: bold;
      background-color: rgb(0, 128, 0, 0.6);
      transition: 0.2s ease-in-out;
    }
    #btn-back:hover {
      scale: 1.05;
      background-color: rgb(0, 128, 0);
    }
  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Inputs
      const nuevoAutorizador = document.getElementById('id_nuevo_autorizador')

      // Buttons
      const btnGuardar = document.getElementById('btn-guardar')
      const btnBack = document.getElementById('btn-back')
      
      // Error messages
      const errorNuevoAutorizador = document.getElementById('error-nuevo-autorizador')

      btnBack.addEventListener('click', () => {
        window.history.back()
      })
      
      // Validación nuevo autorizador
      /*const validateNuevoAutorizador = () => {
        if (nuevoAutorizador.value == '') {
          errorNuevoAutorizador.style.display = 'block'
        } else {
          errorNuevoAutorizador.style.display = 'none'
        }
        enableSaveButton()
      }
      nuevoAutorizador.addEventListener('focus', validateNuevoAutorizador)
      nuevoAutorizador.addEventListener('change', validateNuevoAutorizador)*/

      function enableSaveButton() {
        if(errorNuevoAutorizador.style.display == 'block') {
          btnGuardar.disabled = true
        }
        else {
          btnGuardar.disabled = false
        }
      }

      btnGuardar.addEventListener('click', event => {
        console.log('Cediendo permisos de autorización a', nuevoAutorizador.value)
        event.preventDefault()
      })
    })
  </script>
{% endblock %}
