{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main class="p-5 row justify-content-center">
    <section class="card card-body" style="max-width: 70rem; margin-top: 6rem; background-color: rgb(255, 255, 255, 0.8);">
      <h1 class="text-center display-5 py-4">Configuración</h1>

      <div class="d-flex justify-content-center gap-4">
        <a class="btn btn-success p-4 d-flex flex-column gap-2" href="permissions">
          <i class="fa fa-key" style="font-size: 8rem;" aria-hidden="true"></i>
          <p class="mb-0" style="font-size: 2rem;">Permisos</p>
        </a>
        
        <a class="btn btn-success p-4 d-flex flex-column gap-2" href="/users">
          <i class="fa fa-user" style="font-size: 8rem;" aria-hidden="true"></i>
          <p class="mb-0" style="font-size: 2rem;">Usuarios</p>
        </a>
      </div>

    </section>
  </main>
{% endblock %}
