{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main class="p-5 row justify-content-center">
    <section class="card card-body" style="max-width: 70rem; margin-top: 6rem; background-color: rgb(255, 255, 255, 0.8);">
      <h1 class="text-center display-5 py-4">Configuración</h1>

      <div class="d-flex align-items-center justify-content-between gap-4 mt-2 mb-4" style="max-width: 55rem;">
        <p class="ms-3 my-auto fw-bold">Seleccione la siguiente opción para ceder sus permisos de autorización</p>
        <a class="btn" href="permissions" style="width: 10rem; margin-right: 1rem; margin-right: 1rem; background-color: #008841; color: white; font-weight: bold;">Ceder permisos</a>
      </div>

    </section>
  </main>
{% endblock %}
