asgiref==3.6.0
dj-database-url==2.0.0
Django==4.2
django-messages==0.6.0
django-mssql-backend==2.8.1
et-xmlfile==1.1.0
gunicorn==21.2.0
mysql-client==0.0.1
openpyxl==3.1.2
packaging==23.2
pyodbc==5.1.0
python-dotenv==1.0.1
pywin32==306
sqlparse==0.4.4
typing_extensions==4.5.0
tzdata==2023.3
wfastcgi==3.0.0