<!-- To make this project work with IIS:
    - Create a folder.
    - Place this file inside it, along with the "proveedores" folder and a new "static" folder.
    - Create the IIS website. The physical path must be the just created folder.
    - In settings.py, update the static files configuration. -->

<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" 
            path="*" 
            verb="*" 
            modules="FastCgiModule" 
            scriptProcessor="C:\Python312\python.exe|C:\Python312\Lib\site-packages\wfastcgi.py" 
            resourceType="Unspecified" 
            requireAccess="Script" />
        </handlers>
    </system.webServer>

    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\proveedores" />
        <add key="WSGI_HANDLER" value="proveedores.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="proveedores.settings" />
    </appSettings>
</configuration>
