/* base.html */
html {
    font-size: 0.9rem;
}
.base-background-image {
    /*background-image: url('{% static 'images/background-field.jpg' %}');*/
    background-image: url('../images/background-field.jpg');
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-size: cover;
    background-position: center;
    filter: brightness(25%);
}
.base-content {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}
.home-main {
    padding: 3rem;
    justify-content: center;
    display: flex;
}