{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="p-5 row justify-content-center">
        <div class="card card-body" style="max-width: 40rem; margin-top: 6rem; background-color: rgb(255, 255, 255, 0.8);">
            <div>
                <form method="POST">
                    <h1>Inicio de sesión</h1>
                    <p style="margin: 0; color: red;">{{error}}</p>
                    {% csrf_token %}

                    <!-- Username field -->
                    <div style="width: 100%; margin-bottom:1rem;">
                        <label>Usuario<span style="color: rgb(192, 0, 0);">*</span></label>
                        {{ form.username }}
                        <p id="error-username" style="color:red; margin-bottom:0; display:none;">Este campo es requerido</p>
                    </div>

                    <!-- Password field -->
                    <div style="width: 100%; margin-bottom:1rem;">
                        <label>Contraseña<span style="color: rgb(192, 0, 0);">*</span></label>
                        {{ form.password }}
                        <p id="error-password" style="color:red; margin-bottom:0; display:none;">Este campo es requerido</p>
                    </div>
                
                    <button class="btn" style="background-color: #008841; color: white; font-weight: bold;">
                        Iniciar sesión
                    </button>
                </form>
            </div>
        </div>
    </main>

    <style>
        #id_username,
        #id_password {
            max-width: 20rem;
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var username = document.getElementById("id_username");
            var password = document.getElementById("id_password");
            username.classList.add("form-control");
            password.classList.add("form-control");
        });
    </script>
{% endblock %}
