{% extends 'base.html' %}

{% block content %}

<main class="container py-5 mt-5">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center font-weight-bold text-green">Solicitudes de proveedores</h1>

            <ul style="list-style-type: none;" class="list-group mt-4">
                {% for proveedor in proveedores %}
                <a class="list-group-item my-2 border rounded provider-card" href="{% url 'proveedor_detail' proveedor.id %}">
                    <div class="d-flex justify-content-between gap-3 my-2">
                        <h4 class="my-0">{{proveedor.nombre_comercial}}</h4>
                        <p class="mt-1"><b>Folio solicitud:</b> {{proveedor.id}}</p>
                    </div>
                    <p><b>Solicitante:</b> {{proveedor.usuario.get_full_name}}</p>
                    <div class="d-flex justify-content-between gap-3">
                        <p><b>Empresa:</b> {{proveedor.empresa}}</p>
                        <p><b>Fecha:</b> {{proveedor.fecha}}</p>
                    </div>
                    {% if proveedor.pendiente %}
                    <p class="text-success">🕐 Pendiente aprobación</p>
                    {% endif %}
                    {% if proveedor.compras %}
                    <p class="text-success">✅ Aprobado por compras</p>
                    {% endif %}
                    {% if proveedor.rechazado_compras %}
                    <p class="text-success">❌ Rechazado por compras</p>
                    <p class="text-danger"><b>Comentario:</b> {{proveedor.comentarios}}</p>
                    {% endif %}
                    {% if proveedor.finanzas %}
                    <p class="text-success">✅ Aprobado por finanzas</p>
                    {% endif %}
                    {% if proveedor.rechazado_finanzas %}
                    <p class="text-success">❌ Rechazado por finanzas</p>
                    <p class="text-danger"><b>Comentario:</b> {{proveedor.comentarios}}</p>
                    {% endif %}
                    {% if proveedor.sistemas %}
                    <p class="text-success">✅ Aprobado por sistemas</p>
                    {% endif %}
                    {% if proveedor.rechazado_sistemas %}
                    <p class="text-success">❌ Rechazado por sistemas</p>
                    <p class="text-danger"><b>Comentario:</b> {{proveedor.comentarios}}</p>
                    {% endif %}

                    {% for cambio in historial %}
                        {% if proveedor.id == cambio.id_proveedor %}
                            <p style="font-size: 0.8rem; color: gray;"><i>🔸{{cambio}} - {{cambio.fecha}}</i></p>
                        {% endif %}
                    {% endfor %}
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

<style>
    .provider-card:hover {
      scale: 1.02;
      transition: 0.2s ease-in-out;
      background-color: #f5f5f5;
    }
</style>

{% endblock %}