{% extends 'base.html' %}

{% block content %}
  <main class="container py-5 mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 align-self-center mx-auto">
        <form class="card card-body" method="POST">
          <h1 class="mb-4">Detalle del proveedor</h1>
          {{ error }}
          {% csrf_token %}

          <h2>{{ proveedor.nombre_comercial }}</h2>
          {{ proveedor_form.as_p }}

          <a href="/{{ proveedor.constancia_situacion_fiscal }}" class="d-block my-2" download="">Descargar constancia de situación fiscal</a>
          <a href="/{{ proveedor.estado_cuenta_bancario }}" class="d-block my-2" download="">Descargar estado de cuenta bancario</a>

          <div id="buttons-container">
            {% if proveedor.pendiente == True and current_user.compras == False and current_user.finanzas == False and current_user.sistemas == False or proveedor.rechazado_compras == True or proveedor.rechazado_finanzas == True or proveedor.rechazado_sistemas == True %}
              <button class="btn btn-primary" style="margin: 10px 0;" type="submit" name="pendiente" value="True">Guardar cambios</button>
            {% endif %}

            {% if current_user.compras == True %}
              <button class="btn btn-primary btn-approve" style="margin: 10px 0;" type="submit" name="compras" value="True">Aprobar compras</button>

              <button class="btn btn-primary btn-reject" style="margin: 10px 0;" type="submit" name="rechazado_compras" value="True">Rechazar compras</button>
            {% endif %}

            {% if current_user.finanzas == True %}
              <button class="btn btn-primary btn-approve" style="margin: 10px 0;" type="submit" name="finanzas" value="True">Aprobar finanzas</button>

              <button class="btn btn-primary btn-reject" style="margin: 10px 0;" type="submit" name="rechazado_finanzas" value="True">Rechazar finanzas</button>
            {% endif %}

            {% if current_user.sistemas == True %}
              <button class="btn btn-primary btn-approve" style="margin: 10px 0;" type="submit" name="sistemas" value="True">Aprobar sistemas</button>

              <button class="btn btn-primary btn-reject" style="margin: 10px 0;" type="submit" name="rechazado_sistemas" value="True">Rechazar sistemas</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const buttonsContainer = document.getElementById('buttons-container')
      const comentarios = document.getElementById('id_comentarios')
    
      buttonsContainer.addEventListener('click', function (event) {
        if (event.target && event.target.classList.contains('btn-reject')) {
          comentarios.setAttribute('required', 'true')
        }
        if (event.target && event.target.classList.contains('btn-approve')) {
          comentarios.removeAttribute('required')
        }
      })
    })
  </script>
{% endblock %}
