{% extends 'base.html' %}

{% block content %}
  <main class="container py-5 mt-5">
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-md-6 align-self-center mx-auto">
        <form class="card card-body" method="POST">
          <h1 class="mb-4">Detalle de la solicitud</h1>
          {{ error }}
          {% csrf_token %}

          <!-- Empresa field -->
          <div style="margin-bottom:1rem;">
            {{ solicitud_form.empresa.label_tag }}
            {{ solicitud_form.empresa }}
            <p id="error-empresa" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
          </div>

          <!-- Justificación field -->
          <div style="margin-bottom:1rem;">
            {{ solicitud_form.justificacion.label_tag }}
            {{ solicitud_form.justificacion }}
            <p id="error-justificacion" style="color:red; margin-bottom:0; display:none;">Este campo es requerido</p>
          </div>

          <h3>Materiales</h3>

          <div id="table-materials" class="table-responsive my-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Tipo alta</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Familia</th>
                  <th scope="col">Subfamilia</th>
                  <th scope="col">UM</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody id="tbody-materials"></tbody>
            </table>
          </div>

          <div id="material-forms">
            {% for form in material_forms %}
              <div id="material-form-{{ forloop.counter0 }}" class="material-form" style="display:none;">
                {{ form.as_p }}
                <hr />
              </div>
            {% endfor %}
          </div>

          <!-- Comentarios field -->
          <div style="margin-bottom:1rem;">
            {{ solicitud_form.comentarios.label_tag }}
            {{ solicitud_form.comentarios }}
            <p id="error-comentarios" style="color:red; margin-bottom:0; display:none;">Este campo es requerido</p>
          </div>

          <div id="buttons-container">
            {% if solicitud.pendiente == True and current_user.compras == False and current_user.finanzas == False and current_user.sistemas == False or solicitud.rechazado_compras == True or solicitud.rechazado_finanzas == True or solicitud.rechazado_sistemas == True %}
              <button class="btn" style="margin: 10px 0; background-color: #008841; color: white; font-weight: bold;" type="submit" name="pendiente" value="True">Guardar cambios</button>
            {% endif %}

            {% if current_user.compras == True %}
              <button id="btn-approve" class="btn btn-approve" style="margin: 10px 0; background-color: #008841; color: white; font-weight: bold;" type="submit" name="compras" value="True">Aprobar compras</button>

              <button id="btn-decline" class="btn btn-reject" style="margin: 10px 0; background-color: tomato; color: white; font-weight: bold;" type="submit" name="rechazado_compras" value="True">Rechazar compras</button>
            {% endif %}

            {% if current_user.finanzas == True %}
              <button id="btn-approve" class="btn btn-approve" style="margin: 10px 0; background-color: #008841; color: white; font-weight: bold;" type="submit" name="finanzas" value="True">Aprobar finanzas</button>

              <button id="btn-decline" class="btn btn-reject" style="margin: 10px 0; background-color: tomato; color: white; font-weight: bold;" type="submit" name="rechazado_finanzas" value="True">Rechazar finanzas</button>
            {% endif %}

            {% if current_user.sistemas == True %}
              <button id="btn-approve" class="btn btn-approve" style="margin: 10px 0; background-color: #008841; color: white; font-weight: bold;" type="submit" name="sistemas" value="True">Aprobar sistemas</button>

              <button id="btn-decline" class="btn btn-reject" style="margin: 10px 0; background-color: tomato; color: white; font-weight: bold;" type="submit" name="rechazado_sistemas" value="True">Rechazar sistemas</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const materialFormsContainer = document.getElementById('material-forms');
      const materialForms = document.querySelectorAll('.material-form')
      const tableMaterials = document.getElementById('table-materials')
      const bodyMaterials = document.getElementById('tbody-materials')
  
      // Loading dinamically the data on the selects depending on the other selects values
      materialFormsContainer.addEventListener('click', function(event) {
        var tipo_alta = document.querySelector("#id_material-0-tipo_alta")
        var tipo = document.querySelector("#id_material-0-tipo")
        var familia = document.querySelector("#id_material-0-familia")
        var subfamilia = document.querySelector("#id_material-0-subfamilia")
        var unidad_medida = document.querySelector("#id_material-0-unidad_medida")
  
        const setSelects = (id) => {
          tipo_alta = document.querySelector(`#id_material-${id}-tipo_alta`)
          tipo = document.querySelector(`#id_material-${id}-tipo`)
          familia = document.querySelector(`#id_material-${id}-familia`)
          subfamilia = document.querySelector(`#id_material-${id}-subfamilia`)
          unidad_medida = document.querySelector(`#id_material-${id}-unidad_medida`)
        }
  
        if (event.target && event.target.classList.contains('select-tipo-alta')) {
          setSelects(event.target.id.substring(12, event.target.id.length - 10))
        }
        if (event.target && event.target.classList.contains('select-tipo')) {
          setSelects(event.target.id.substring(12, event.target.id.length - 5))
        }
        if (event.target && event.target.classList.contains('select-familia')) {
          setSelects(event.target.id.substring(12, event.target.id.length - 8))
        }
        if (event.target && event.target.classList.contains('select-subfamilia')) {
          setSelects(event.target.id.substring(12, event.target.id.length - 11))
        }
        if (event.target && event.target.classList.contains('select-unidad-medida')) {
          setSelects(event.target.id.substring(12, event.target.id.length - 14))
        }
  
        const actualizarOpcionesTipo = () => {
          var opcionSeleccionada = tipo_alta.value
          var opciones = {{ tipo_list|safe }}
          tipo.options.length = 0
          opciones[opcionSeleccionada].forEach((opcion) => {
              var option = document.createElement("option")
              option.value = opcion.value
              option.text = opcion.display
              tipo.appendChild(option)
          })
        }
  
        const actualizarOpcionesUnidadMedida = () => {
            var opcionSeleccionada = tipo_alta.value
            var opciones = {{ unidad_medida_list|safe }}
            unidad_medida.options.length = 0
            opciones[opcionSeleccionada].forEach((opcion) => {
                var option = document.createElement("option")
                option.value = opcion.value
                option.text = opcion.display
                unidad_medida.appendChild(option)
            })
        }
  
        const actualizarOpcionesFamilia = () => {
            var opcionSeleccionada = tipo.value
            var opciones = {{ familia_list|safe }}
            familia.options.length = 0
            opciones[opcionSeleccionada].forEach((opcion) => {
                var option = document.createElement("option")
                option.value = opcion.value
                option.text = opcion.display
                familia.appendChild(option)
            })
        }
  
        const actualizarOpcionesSubfamilia = () => {
            var opcionSeleccionada = familia.value
            var opciones = {{ subfamilia_list|safe }}
            subfamilia.options.length = 0
            opciones[opcionSeleccionada].forEach((opcion) => {
                var option = document.createElement("option")
                option.value = opcion.value
                option.text = opcion.display
                subfamilia.appendChild(option)
            })
        }
  
        tipo_alta.addEventListener("change", actualizarOpcionesTipo)
        tipo_alta.addEventListener("change", actualizarOpcionesUnidadMedida)
        tipo.addEventListener("change", actualizarOpcionesFamilia)
        familia.addEventListener("change", actualizarOpcionesSubfamilia)
      });

      const buttonsContainer = document.getElementById('buttons-container');
      const comentarios = document.getElementById('id_comentarios');
      
      buttonsContainer.addEventListener('click', function(event) {  
        if (event.target && event.target.classList.contains('btn-reject')) {
          comentarios.setAttribute('required', 'true')
          if(comentarios.value == '') {
            errorComentarios.style.display = 'block'
          }
        }
        if (event.target && event.target.classList.contains('btn-approve')) {
          comentarios.removeAttribute('required')
          comentarios.value = ''
        }
      });

      materialForms.forEach(function(materialForm, index) {
        const nombre = materialForm.querySelector('.material-nombre')
        const tipoAlta = materialForm.querySelector('.material-tipo-alta')
        const tipo = materialForm.querySelector('.material-tipo')
        const familia = materialForm.querySelector('.material-familia')
        const subfamilia = materialForm.querySelector('.material-subfamilia')
        const unidadMedida = materialForm.querySelector('.material-unidad-medida')

        const newRow = bodyMaterials.insertRow()
        newRow.classList.add('table-row')
        newRow.id = `table-row-${index}`
        newRow.innerHTML = `
        <td>${nombre.value}</td>
        <td>${tipoAlta.value}</td>
        <td>${tipo.value}</td>
        <td>${familia.value}</td>
        <td>${subfamilia.value}</td>
        <td>${unidadMedida.value}</td>
        <td>
          <button id="edit-material-${index}" class="btn btn-primary edit-material" type="button">Editar</button>
        </td>`
      });

      tableMaterials.addEventListener('click', function(event) {
        if (event.target && event.target.classList.contains('edit-material')) {
          // Disable edit button
          const editButtons = tableMaterials.getElementsByClassName('edit-material');
          for (let i = 0; i < editButtons.length; i++) {
            editButtons[i].disabled = false
          }
          event.target.disabled = true
          // Show the selected form
          const forms = document.getElementsByClassName('material-form');
          for (let i = 0; i < forms.length; i++) {
            forms[i].style.display = 'none'
          }
          editingId = event.target.id.substring(14, event.target.id.length)
          const form = document.getElementById(`material-form-${editingId}`)
          if (form) {
            form.style.display = "block"
          }
        }
      })
    });

    // Inputs
    const empresa = document.getElementById('id_empresa')
    const justificacion = document.getElementById('id_justificacion')
    const comentarios = document.getElementById('id_comentarios')
    
    // Error messages
    const errorEmpresa = document.getElementById('error-empresa')
    const errorJustificacion = document.getElementById('error-justificacion')
    const errorComentarios = document.getElementById('error-comentarios')
    
    // Buttons
    const btnAprobar = document.getElementById('btn-approve')
    const btnRechazar = document.getElementById('btn-decline')
    
    // Validacion empresa
    empresa.addEventListener('change', () => {
      if (empresa.value == '') {
        errorEmpresa.style.display = 'block'
      } else {
        errorEmpresa.style.display = 'none'
      }
      enableSaveButton()
    })
    
    // Validacion justificacion
    justificacion.addEventListener('input', () => {
      if (justificacion.value == '') {
        errorJustificacion.style.display = 'block'
      } else {
        errorJustificacion.style.display = 'none'
      }
      enableSaveButton()
    })
    
    // Validacion comentarios
    comentarios.addEventListener('input', () => {
      if (comentarios.value == '') {
        errorComentarios.style.display = 'block'
      } else {
        errorComentarios.style.display = 'none'
      }
      enableSaveButton()
    })

    function enableSaveButton() {
      if(errorEmpresa.style.display == 'block' || errorJustificacion.style.display == 'block' || errorComentarios.style.display == 'block') {
        btnAprobar.disabled = true
        btnRechazar.disabled = true
      }
      else {
        btnRechazar.disabled = false
      }
    }
  </script>
{% endblock %}
