{% extends 'base.html' %}

{% block content %}

<main class="py-5 m-5">
    <div class="row mt-5 justify-content-center">
        <div style="max-width: 40rem;">
            <h1 class="text-center font-weight-bold text-green" style="color: white;">Solicitudes de material / servicio</h1>

            {% if current_user.compras or current_user.finanzas or current_user.sistemas %}
                <div id="filtrar-solicitudes-container_aprobador" class="mt-5">
                    <button id="btn-filtrar-todas" class="btn btn-secondary btn-filtrar">Pendientes</button>
                    {% if current_user.puede_crear_material %}
                        <button id="btn-filtrar-mis-solicitudes" class="btn btn-secondary btn-filtrar">Mis solicitudes</button>
                    {% endif %}
                    {% if current_user.is_superuser %}
                        <button id="btn-filtrar-all-materiales" class="btn btn-secondary btn-filtrar">Todas las solicitudes</button>
                    {% endif %}
                </div>
            {% endif %}

            {% if not current_user.compras and not current_user.finanzas and not current_user.sistemas %}
                <div id="filtrar-solicitudes-container" class="mt-5">
                    <button id="btn-filtrar-todas" class="btn btn-secondary btn-filtrar">Todas</button>
                    <button id="btn-filtrar-borradores" class="btn btn-secondary btn-filtrar">Borradores</button>
                    <button id="btn-filtrar-pendientes" class="btn btn-secondary btn-filtrar">Pendientes</button>
                    <button id="btn-filtrar-rechazadas" class="btn btn-secondary btn-filtrar">Rechazadas</button>
                    <button id="btn-filtrar-aprobadas" class="btn btn-secondary btn-filtrar">Aprobadas</button>
                    <button id="btn-filtrar-eliminadas" class="btn btn-secondary btn-filtrar">Eliminadas</button>
                </div>
            {% endif %}

            <ul id="solicitudes-list" style="list-style-type: none; display: none;" class="list-group mt-4">
                {% for solicitud in solicitudes %}
                    <a class="list-group-item my-3 border rounded material-card"
                        href="{% url 'material_detail' solicitud.id %}"
                        style="transition: 0.2s ease-in-out;">
                        <div class="d-flex justify-content-between gap-3 my-2">
                            {% if not solicitud.es_migracion and solicitud.justificacion %}
                                <h4 class="my-0">{{solicitud.justificacion}}</h4>
                            {% elif not solicitud.es_migracion and solicitud.borrador or not solicitud.es_migracion and solicitud.eliminado %}
                                <h4 class="my-0">Material / servicio nuevo</h4>
                            {% elif solicitud.es_migracion and solicitud.nombre_producto_migracion %}
                                <h4 class="my-0">Migración - {{solicitud.nombre_producto_migracion}}</h4>
                            {% elif solicitud.es_migracion and solicitud.borrador or solicitud.es_migracion and solicitud.eliminado %}
                                <h4 class="my-0">Migración</h4>
                            {% endif %}
                            <p class="mt-1"><b>Folio solicitud:</b> {{solicitud.id}}</p>
                        </div>
                        <p><b>Solicitante:</b> {{solicitud.usuario.get_full_name}}</p>
                        <div class="d-flex justify-content-between gap-3">
                            {% if solicitud.es_migracion %}
                                <p><b>Empresa:</b> {{solicitud.empresa_destino}}</p>
                            {% else %}
                                <p><b>Empresa:</b> {{solicitud.empresa}}</p>
                            {% endif %}
                            <p><b>Fecha:</b> {{solicitud.fecha}}</p>
                        </div>

                        {% if solicitud.borrador %}
                            <p class="text-success">✎ Guardado como borrador</p>
                        {% elif solicitud.pendiente %}
                            <p class="text-success">🕐 Pendiente compras</p>
                        {% elif solicitud.compras %}
                            <p class="text-success">🕐 Pendiente finanzas</p>
                        {% elif solicitud.rechazado_compras %}
                            <p class="text-danger">❌ Rechazado por compras</p>
                            <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                        {% elif solicitud.finanzas %}
                            <p class="text-success">🕐 Pendiente sistemas</p>
                        {% elif solicitud.rechazado_finanzas %}
                            <p class="text-danger">❌ Rechazado por finanzas</p>
                            <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                        {% elif solicitud.sistemas %}
                            <p class="text-success">✅ Aprobado</p>
                        {% elif solicitud.rechazado_sistemas %}
                            <p class="text-danger">❌ Rechazado por sistemas</p>
                            <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                        {% elif solicitud.eliminado %}
                            <p class="text-success">🗑 Solicitud eliminada</p>
                        {% endif %}

                        {% for cambio in historial %}
                            {% if solicitud.id == cambio.id_solicitud %}
                                <p style="margin-right: 3rem; font-size: 0.8rem; color: gray;"><i class="d-flex justify-content-between gap-3"><span>🔸{{cambio}}</span><span>{{cambio.fecha}}</span></i></p>
                            {% endif %}
                        {% endfor %}
                    </a>
                {% endfor %}
            </ul>

            {% if current_user.compras == True or current_user.finanzas == True or current_user.sistemas == True %}
                {% if current_user.puede_crear_material %}
                    <ul id="mis-solicitudes-list" style="list-style-type: none; display: none;" class="list-group mt-4">
                        {% for solicitud in mis_solicitudes %}
                            <a class="list-group-item my-3 border rounded material-card"
                                href="{% url 'material_detail' solicitud.id %}"
                                style="transition: 0.2s ease-in-out;">
                                <div class="d-flex justify-content-between gap-3 my-2">
                                    {% if not solicitud.es_migracion and solicitud.justificacion %}
                                        <h4 class="my-0">{{solicitud.justificacion}}</h4>
                                    {% elif not solicitud.es_migracion and solicitud.borrador %}
                                        <h4 class="my-0">Borrador</h4>
                                    {% elif solicitud.es_migracion and solicitud.nombre_producto_migracion %}
                                        <h4 class="my-0">Migración - {{solicitud.nombre_producto_migracion}}</h4>
                                    {% elif solicitud.es_migracion and solicitud.borrador %}
                                        <h4 class="my-0">Migración - Borrador</h4>
                                    {% endif %}
                                    <p class="mt-1"><b>Folio solicitud:</b> {{solicitud.id}}</p>
                                </div>
                                <p><b>Solicitante:</b> {{solicitud.usuario.get_full_name}}</p>
                                <div class="d-flex justify-content-between gap-3">
                                    {% if solicitud.es_migracion %}
                                        <p><b>Empresa:</b> {{solicitud.empresa_destino}}</p>
                                    {% else %}
                                        <p><b>Empresa:</b> {{solicitud.empresa}}</p>
                                    {% endif %}
                                    <p><b>Fecha:</b> {{solicitud.fecha}}</p>
                                </div>

                                {% if solicitud.borrador %}
                                    <p class="text-success">✎ Guardado como borrador</p>
                                {% elif solicitud.pendiente %}
                                    <p class="text-success">🕐 Pendiente compras</p>
                                {% elif solicitud.compras %}
                                    <p class="text-success">🕐 Pendiente finanzas</p>
                                {% elif solicitud.rechazado_compras %}
                                    <p class="text-danger">❌ Rechazado por compras</p>
                                    <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                                {% elif solicitud.finanzas %}
                                    <p class="text-success">🕐 Pendiente sistemas</p>
                                {% elif solicitud.rechazado_finanzas %}
                                    <p class="text-danger">❌ Rechazado por finanzas</p>
                                    <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                                {% elif solicitud.sistemas %}
                                    <p class="text-success">✅ Aprobado</p>
                                {% elif solicitud.rechazado_sistemas %}
                                    <p class="text-danger">❌ Rechazado por sistemas</p>
                                    <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                                {% elif solicitud.eliminado %}
                                    <p class="text-success">🗑 Solicitud eliminada</p>
                                {% endif %}

                                {% for cambio in historial %}
                                    {% if solicitud.id == cambio.id_solicitud %}
                                        <p style="margin-right: 3rem; font-size: 0.8rem; color: gray;"><i class="d-flex justify-content-between gap-3"><span>🔸{{cambio}}</span><span>{{cambio.fecha}}</span></i></p>
                                    {% endif %}
                                {% endfor %}
                            </a>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}

            {% if current_user.is_superuser %}
                <ul id="all-solicitudes-list" style="list-style-type: none; display: none;" class="list-group mt-4">
                    {% for solicitud in all_solicitudes %}
                        <a class="list-group-item my-3 border rounded material-card"
                            href="{% url 'material_detail' solicitud.id %}"
                            style="transition: 0.2s ease-in-out;">
                            <div class="d-flex justify-content-between gap-3 my-2">
                                {% if not solicitud.es_migracion and solicitud.justificacion %}
                                    <h4 class="my-0">{{solicitud.justificacion}}</h4>
                                {% elif not solicitud.es_migracion and solicitud.borrador %}
                                    <h4 class="my-0">Borrador</h4>
                                {% elif solicitud.es_migracion and solicitud.nombre_producto_migracion %}
                                    <h4 class="my-0">Migración - {{solicitud.nombre_producto_migracion}}</h4>
                                {% elif solicitud.es_migracion and solicitud.borrador %}
                                    <h4 class="my-0">Migración - Borrador</h4>
                                {% endif %}
                                <p class="mt-1"><b>Folio solicitud:</b> {{solicitud.id}}</p>
                            </div>
                            <p><b>Solicitante:</b> {{solicitud.usuario.get_full_name}}</p>
                            <div class="d-flex justify-content-between gap-3">
                                {% if solicitud.es_migracion %}
                                    <p><b>Empresa:</b> {{solicitud.empresa_destino}}</p>
                                {% else %}
                                    <p><b>Empresa:</b> {{solicitud.empresa}}</p>
                                {% endif %}
                                <p><b>Fecha:</b> {{solicitud.fecha}}</p>
                            </div>

                            {% if solicitud.borrador %}
                                <p class="text-success">✎ Guardado como borrador</p>
                            {% elif solicitud.pendiente %}
                                <p class="text-success">🕐 Pendiente compras</p>
                            {% elif solicitud.compras %}
                                <p class="text-success">🕐 Pendiente finanzas</p>
                            {% elif solicitud.rechazado_compras %}
                                <p class="text-danger">❌ Rechazado por compras</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.finanzas %}
                                <p class="text-success">🕐 Pendiente sistemas</p>
                            {% elif solicitud.rechazado_finanzas %}
                                <p class="text-danger">❌ Rechazado por finanzas</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.sistemas %}
                                <p class="text-success">✅ Aprobado</p>
                            {% elif solicitud.rechazado_sistemas %}
                                <p class="text-danger">❌ Rechazado por sistemas</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.eliminado %}
                                <p class="text-success">🗑 Solicitud eliminada</p>
                            {% endif %}

                            {% for cambio in historial %}
                                {% if solicitud.id == cambio.id_solicitud %}
                                    <p style="margin-right: 3rem; font-size: 0.8rem; color: gray;"><i class="d-flex justify-content-between gap-3"><span>🔸{{cambio}}</span><span>{{cambio.fecha}}</span></i></p>
                                {% endif %}
                            {% endfor %}
                        </a>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if current_user.compras == False and current_user.finanzas == False and current_user.sistemas == False %}
                <ul id="solicitudes-borradores-list" style="list-style-type: none; display: none;" class="list-group mt-4">
                    {% for solicitud in solicitudes_borradores %}
                        <a class="list-group-item my-3 border rounded material-card"
                            href="{% url 'material_detail' solicitud.id %}"
                            style="transition: 0.2s ease-in-out;">
                            <div class="d-flex justify-content-between gap-3 my-2">
                                {% if not solicitud.es_migracion and solicitud.justificacion %}
                                    <h4 class="my-0">{{solicitud.justificacion}}</h4>
                                {% elif not solicitud.es_migracion and solicitud.borrador %}
                                    <h4 class="my-0">Borrador</h4>
                                {% elif solicitud.es_migracion and solicitud.nombre_producto_migracion %}
                                    <h4 class="my-0">Migración - {{solicitud.nombre_producto_migracion}}</h4>
                                {% elif solicitud.es_migracion and solicitud.borrador %}
                                    <h4 class="my-0">Migración - Borrador</h4>
                                {% endif %}
                                <p class="mt-1"><b>Folio solicitud:</b> {{solicitud.id}}</p>
                            </div>
                            <p><b>Solicitante:</b> {{solicitud.usuario.get_full_name}}</p>
                            <div class="d-flex justify-content-between gap-3">
                                {% if solicitud.es_migracion %}
                                    <p><b>Empresa:</b> {{solicitud.empresa_destino}}</p>
                                {% else %}
                                    <p><b>Empresa:</b> {{solicitud.empresa}}</p>
                                {% endif %}
                                <p><b>Fecha:</b> {{solicitud.fecha}}</p>
                            </div>
                            
                            {% if solicitud.borrador %}
                                <p class="text-success">✎ Guardado como borrador</p>
                            {% elif solicitud.pendiente %}
                                <p class="text-success">🕐 Pendiente compras</p>
                            {% elif solicitud.compras %}
                                <p class="text-success">🕐 Pendiente finanzas</p>
                            {% elif solicitud.rechazado_compras %}
                                <p class="text-danger">❌ Rechazado por compras</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.finanzas %}
                                <p class="text-success">🕐 Pendiente sistemas</p>
                            {% elif solicitud.rechazado_finanzas %}
                                <p class="text-danger">❌ Rechazado por finanzas</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.sistemas %}
                                <p class="text-success">✅ Aprobado</p>
                            {% elif solicitud.rechazado_sistemas %}
                                <p class="text-danger">❌ Rechazado por sistemas</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.eliminado %}
                                <p class="text-success">🗑 Solicitud eliminada</p>
                            {% endif %}

                            {% for cambio in historial %}
                                {% if solicitud.id == cambio.id_solicitud %}
                                    <p style="margin-right: 3rem; font-size: 0.8rem; color: gray;"><i class="d-flex justify-content-between gap-3"><span>🔸{{cambio}}</span><span>{{cambio.fecha}}</span></i></p>
                                {% endif %}
                            {% endfor %}
                        </a>
                    {% endfor %}
                </ul>

                <ul id="solicitudes-pendientes-list" style="list-style-type: none; display: none;" class="list-group mt-4">
                    {% for solicitud in solicitudes_pendientes %}
                        <a class="list-group-item my-3 border rounded material-card"
                            href="{% url 'material_detail' solicitud.id %}"
                            style="transition: 0.2s ease-in-out;">
                            <div class="d-flex justify-content-between gap-3 my-2">
                                {% if not solicitud.es_migracion and solicitud.justificacion %}
                                    <h4 class="my-0">{{solicitud.justificacion}}</h4>
                                {% elif not solicitud.es_migracion and solicitud.borrador %}
                                    <h4 class="my-0">Borrador</h4>
                                {% elif solicitud.es_migracion and solicitud.nombre_producto_migracion %}
                                    <h4 class="my-0">Migración - {{solicitud.nombre_producto_migracion}}</h4>
                                {% elif solicitud.es_migracion and solicitud.borrador %}
                                    <h4 class="my-0">Migración - Borrador</h4>
                                {% endif %}
                                <p class="mt-1"><b>Folio solicitud:</b> {{solicitud.id}}</p>
                            </div>
                            <p><b>Solicitante:</b> {{solicitud.usuario.get_full_name}}</p>
                            <div class="d-flex justify-content-between gap-3">
                                {% if solicitud.es_migracion %}
                                    <p><b>Empresa:</b> {{solicitud.empresa_destino}}</p>
                                {% else %}
                                    <p><b>Empresa:</b> {{solicitud.empresa}}</p>
                                {% endif %}
                                <p><b>Fecha:</b> {{solicitud.fecha}}</p>
                            </div>
                            
                            {% if solicitud.borrador %}
                                <p class="text-success">✎ Guardado como borrador</p>
                            {% elif solicitud.pendiente %}
                                <p class="text-success">🕐 Pendiente compras</p>
                            {% elif solicitud.compras %}
                                <p class="text-success">🕐 Pendiente finanzas</p>
                            {% elif solicitud.rechazado_compras %}
                                <p class="text-danger">❌ Rechazado por compras</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.finanzas %}
                                <p class="text-success">🕐 Pendiente sistemas</p>
                            {% elif solicitud.rechazado_finanzas %}
                                <p class="text-danger">❌ Rechazado por finanzas</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.sistemas %}
                                <p class="text-success">✅ Aprobado</p>
                            {% elif solicitud.rechazado_sistemas %}
                                <p class="text-danger">❌ Rechazado por sistemas</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.eliminado %}
                                <p class="text-success">🗑 Solicitud eliminada</p>
                            {% endif %}

                            {% for cambio in historial %}
                                {% if solicitud.id == cambio.id_solicitud %}
                                    <p style="margin-right: 3rem; font-size: 0.8rem; color: gray;"><i class="d-flex justify-content-between gap-3"><span>🔸{{cambio}}</span><span>{{cambio.fecha}}</span></i></p>
                                {% endif %}
                            {% endfor %}
                        </a>
                    {% endfor %}
                </ul>

                <ul id="solicitudes-rechazadas-list" style="list-style-type: none; display: none;" class="list-group mt-4">
                    {% for solicitud in solicitudes_rechazadas %}
                        <a class="list-group-item my-3 border rounded material-card"
                            href="{% url 'material_detail' solicitud.id %}"
                            style="transition: 0.2s ease-in-out;">
                            <div class="d-flex justify-content-between gap-3 my-2">
                                {% if not solicitud.es_migracion and solicitud.justificacion %}
                                    <h4 class="my-0">{{solicitud.justificacion}}</h4>
                                {% elif not solicitud.es_migracion and solicitud.borrador %}
                                    <h4 class="my-0">Borrador</h4>
                                {% elif solicitud.es_migracion and solicitud.nombre_producto_migracion %}
                                    <h4 class="my-0">Migración - {{solicitud.nombre_producto_migracion}}</h4>
                                {% elif solicitud.es_migracion and solicitud.borrador %}
                                    <h4 class="my-0">Migración - Borrador</h4>
                                {% endif %}
                                <p class="mt-1"><b>Folio solicitud:</b> {{solicitud.id}}</p>
                            </div>
                            <p><b>Solicitante:</b> {{solicitud.usuario.get_full_name}}</p>
                            <div class="d-flex justify-content-between gap-3">
                                {% if solicitud.es_migracion %}
                                    <p><b>Empresa:</b> {{solicitud.empresa_destino}}</p>
                                {% else %}
                                    <p><b>Empresa:</b> {{solicitud.empresa}}</p>
                                {% endif %}
                                <p><b>Fecha:</b> {{solicitud.fecha}}</p>
                            </div>
                            
                            {% if solicitud.borrador %}
                                <p class="text-success">✎ Guardado como borrador</p>
                            {% elif solicitud.pendiente %}
                                <p class="text-success">🕐 Pendiente compras</p>
                            {% elif solicitud.compras %}
                                <p class="text-success">🕐 Pendiente finanzas</p>
                            {% elif solicitud.rechazado_compras %}
                                <p class="text-danger">❌ Rechazado por compras</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.finanzas %}
                                <p class="text-success">🕐 Pendiente sistemas</p>
                            {% elif solicitud.rechazado_finanzas %}
                                <p class="text-danger">❌ Rechazado por finanzas</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.sistemas %}
                                <p class="text-success">✅ Aprobado</p>
                            {% elif solicitud.rechazado_sistemas %}
                                <p class="text-danger">❌ Rechazado por sistemas</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.eliminado %}
                                <p class="text-success">🗑 Solicitud eliminada</p>
                            {% endif %}

                            {% for cambio in historial %}
                                {% if solicitud.id == cambio.id_solicitud %}
                                    <p style="margin-right: 3rem; font-size: 0.8rem; color: gray;"><i class="d-flex justify-content-between gap-3"><span>🔸{{cambio}}</span><span>{{cambio.fecha}}</span></i></p>
                                {% endif %}
                            {% endfor %}
                        </a>
                    {% endfor %}
                </ul>

                <ul id="solicitudes-aprobadas-list" style="list-style-type: none; display: none;" class="list-group mt-4">
                    {% for solicitud in solicitudes_aprobadas %}
                        <a class="list-group-item my-3 border rounded material-card"
                            href="{% url 'material_detail' solicitud.id %}"
                            style="transition: 0.2s ease-in-out;">
                            <div class="d-flex justify-content-between gap-3 my-2">
                                {% if not solicitud.es_migracion and solicitud.justificacion %}
                                    <h4 class="my-0">{{solicitud.justificacion}}</h4>
                                {% elif not solicitud.es_migracion and solicitud.borrador %}
                                    <h4 class="my-0">Borrador</h4>
                                {% elif solicitud.es_migracion and solicitud.nombre_producto_migracion %}
                                    <h4 class="my-0">Migración - {{solicitud.nombre_producto_migracion}}</h4>
                                {% elif solicitud.es_migracion and solicitud.borrador %}
                                    <h4 class="my-0">Migración - Borrador</h4>
                                {% endif %}
                                <p class="mt-1"><b>Folio solicitud:</b> {{solicitud.id}}</p>
                            </div>
                            <p><b>Solicitante:</b> {{solicitud.usuario.get_full_name}}</p>
                            <div class="d-flex justify-content-between gap-3">
                                {% if solicitud.es_migracion %}
                                    <p><b>Empresa:</b> {{solicitud.empresa_destino}}</p>
                                {% else %}
                                    <p><b>Empresa:</b> {{solicitud.empresa}}</p>
                                {% endif %}
                                <p><b>Fecha:</b> {{solicitud.fecha}}</p>
                            </div>
                            
                            {% if solicitud.borrador %}
                                <p class="text-success">✎ Guardado como borrador</p>
                            {% elif solicitud.pendiente %}
                                <p class="text-success">🕐 Pendiente compras</p>
                            {% elif solicitud.compras %}
                                <p class="text-success">🕐 Pendiente finanzas</p>
                            {% elif solicitud.rechazado_compras %}
                                <p class="text-danger">❌ Rechazado por compras</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.finanzas %}
                                <p class="text-success">🕐 Pendiente sistemas</p>
                            {% elif solicitud.rechazado_finanzas %}
                                <p class="text-danger">❌ Rechazado por finanzas</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.sistemas %}
                                <p class="text-success">✅ Aprobado</p>
                            {% elif solicitud.rechazado_sistemas %}
                                <p class="text-danger">❌ Rechazado por sistemas</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.eliminado %}
                                <p class="text-success">🗑 Solicitud eliminada</p>
                            {% endif %}

                            {% for cambio in historial %}
                                {% if solicitud.id == cambio.id_solicitud %}
                                    <p style="margin-right: 3rem; font-size: 0.8rem; color: gray;"><i class="d-flex justify-content-between gap-3"><span>🔸{{cambio}}</span><span>{{cambio.fecha}}</span></i></p>
                                {% endif %}
                            {% endfor %}
                        </a>
                    {% endfor %}
                </ul>

                <ul id="solicitudes-eliminadas-list" style="list-style-type: none; display: none;" class="list-group mt-4">
                    {% for solicitud in solicitudes_eliminadas %}
                        <a class="list-group-item my-3 border rounded material-card"
                            href="{% url 'material_detail' solicitud.id %}"
                            style="transition: 0.2s ease-in-out;">
                            <div class="d-flex justify-content-between gap-3 my-2">
                                {% if not solicitud.es_migracion and solicitud.justificacion %}
                                    <h4 class="my-0">{{solicitud.justificacion}}</h4>
                                {% elif not solicitud.es_migracion and solicitud.borrador or not solicitud.es_migracion and solicitud.eliminado %}
                                    <h4 class="my-0">Material / servicio nuevo</h4>
                                {% elif solicitud.es_migracion and solicitud.nombre_producto_migracion %}
                                    <h4 class="my-0">Migración - {{solicitud.nombre_producto_migracion}}</h4>
                                {% elif solicitud.es_migracion and solicitud.borrador or solicitud.es_migracion and solicitud.eliminado %}
                                    <h4 class="my-0">Migración</h4>
                                {% endif %}
                                <p class="mt-1"><b>Folio solicitud:</b> {{solicitud.id}}</p>
                            </div>
                            <p><b>Solicitante:</b> {{solicitud.usuario.get_full_name}}</p>
                            <div class="d-flex justify-content-between gap-3">
                                {% if solicitud.es_migracion %}
                                    <p><b>Empresa:</b> {{solicitud.empresa_destino}}</p>
                                {% else %}
                                    <p><b>Empresa:</b> {{solicitud.empresa}}</p>
                                {% endif %}
                                <p><b>Fecha:</b> {{solicitud.fecha}}</p>
                            </div>

                            {% if solicitud.borrador %}
                                <p class="text-success">✎ Guardado como borrador</p>
                            {% elif solicitud.pendiente %}
                                <p class="text-success">🕐 Pendiente compras</p>
                            {% elif solicitud.compras %}
                                <p class="text-success">🕐 Pendiente finanzas</p>
                            {% elif solicitud.rechazado_compras %}
                                <p class="text-danger">❌ Rechazado por compras</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.finanzas %}
                                <p class="text-success">🕐 Pendiente sistemas</p>
                            {% elif solicitud.rechazado_finanzas %}
                                <p class="text-danger">❌ Rechazado por finanzas</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.sistemas %}
                                <p class="text-success">✅ Aprobado</p>
                            {% elif solicitud.rechazado_sistemas %}
                                <p class="text-danger">❌ Rechazado por sistemas</p>
                                <p class="text-danger"><b>Comentario:</b> {{solicitud.comentarios}}</p>
                            {% elif solicitud.eliminado %}
                                <p class="text-success">🗑 Solicitud eliminada</p>
                            {% endif %}

                            {% for cambio in historial %}
                                {% if solicitud.id == cambio.id_solicitud %}
                                    <p style="margin-right: 3rem; font-size: 0.8rem; color: gray;"><i class="d-flex justify-content-between gap-3"><span>🔸{{cambio}}</span><span>{{cambio.fecha}}</span></i></p>
                                {% endif %}
                            {% endfor %}
                        </a>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</main>

<style>
    #filtrar-solicitudes-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 0.5rem;
    }
    @media (max-width: 640px) {
        #filtrar-solicitudes-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    #filtrar-solicitudes-container_aprobador {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .btn-filtrar {
        background-color: rgb(0, 128, 0, 0.6);
        transition: 0.2s ease-in-out;
    }
    .material-card {
        background-color: rgb(255, 255, 255, 0.8);
        transition: 0.2s ease-in-out;
    }
    .btn-filtrar:hover {
        scale: 1.05;
        background-color: rgb(0, 128, 0);
    }
    .material-card:hover {
        scale: 1.02;
        background-color: rgb(255, 255, 255);
    }
    .ningun-material-text {
        margin-top: 3rem;
        text-align: center;
        font-size: 1.2rem;
        font-style: italic;
        color: white;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Containers
        const solicitudesList = document.getElementById("solicitudes-list")
        const misSolicitudesList = document.getElementById("mis-solicitudes-list")
        const allSolicitudesList = document.getElementById("all-solicitudes-list")
        const solicitudesBorradoresList = document.getElementById("solicitudes-borradores-list")
        const solicitudesPendientesList = document.getElementById("solicitudes-pendientes-list")
        const solicitudesRechazadasList = document.getElementById("solicitudes-rechazadas-list")
        const solicitudesAprobadasList = document.getElementById("solicitudes-aprobadas-list")
        const solicitudesEliminadasList = document.getElementById("solicitudes-eliminadas-list")
        // Buttons
        const btnTodas = document.getElementById('btn-filtrar-todas')
        const btnMisSolicitudes = document.getElementById('btn-filtrar-mis-solicitudes')
        const btnAllSolicitudes = document.getElementById('btn-filtrar-all-solicitudes')
        const btnBorradores = document.getElementById('btn-filtrar-borradores')
        const btnPendientes = document.getElementById('btn-filtrar-pendientes')
        const btnRechazadas = document.getElementById('btn-filtrar-rechazadas')
        const btnAprobadas = document.getElementById('btn-filtrar-aprobadas')
        const btnEliminadas = document.getElementById('btn-filtrar-eliminadas')

        // List all requests from newest to oldest
        if (solicitudesList) {
            const solicitudesItems = Array.from(solicitudesList.children).reverse()
            solicitudesList.innerHTML = ""
            if (solicitudesItems.length > 0) {
                solicitudesItems.forEach(item => {
                    solicitudesList.appendChild(item)
                });
            } else {
                solicitudesList.innerHTML = "<p class='ningun-material-text'>Actualmente no cuenta con ninguna solicitud</p>"
            }
            solicitudesList.style.display = 'block'
        }

        // List my requests from newest to oldest
        if (misSolicitudesList) {
            const misSolicitudesItems = Array.from(misSolicitudesList.children).reverse()
            misSolicitudesList.innerHTML = ""
            if (misSolicitudesItems.length > 0) {
                misSolicitudesItems.forEach(item => {
                    misSolicitudesList.appendChild(item)
                });
            } else {
                misSolicitudesList.innerHTML = "<p class='ningun-material-text'>Actualmente no cuenta con ninguna solicitud</p>"
            }
        }

        // List all requests from newest to oldest
        if (allSolicitudesList) {
            const allSolicitudesItems = Array.from(allSolicitudesList.children).reverse()
            allSolicitudesList.innerHTML = ""
            if (allSolicitudesItems.length > 0) {
                allSolicitudesItems.forEach(item => {
                    allSolicitudesList.appendChild(item)
                });
            } else {
                allSolicitudesList.innerHTML = "<p class='ningun-material-text'>Actualmente no existe ninguna solicitud</p>"
            }
        }

        // List draft requests from newest to oldest
        if (solicitudesBorradoresList) {
            const solicitudesBorradoresItems = Array.from(solicitudesBorradoresList.children).reverse()
            solicitudesBorradoresList.innerHTML = ""
            if (solicitudesBorradoresItems.length > 0) {
                solicitudesBorradoresItems.forEach(item => {
                    solicitudesBorradoresList.appendChild(item)
                });
            } else {
                solicitudesBorradoresList.innerHTML = "<p class='ningun-material-text'>Actualmente no cuenta con ningún borrador de solicitud</p>"
            }
        }

        // List pending requests from newest to oldest
        if (solicitudesPendientesList) {
            const solicitudesPendientesItems = Array.from(solicitudesPendientesList.children).reverse()
            solicitudesPendientesList.innerHTML = ""
            if (solicitudesPendientesItems.length > 0) {
                solicitudesPendientesItems.forEach(item => {
                    solicitudesPendientesList.appendChild(item)
                });
            } else {
                solicitudesPendientesList.innerHTML = "<p class='ningun-material-text'>Actualmente no cuenta con ninguna solicitud pendiente</p>"
            }
        }

        // List declined requests from newest to oldest
        if (solicitudesRechazadasList) {
            const solicitudesRechazadasItems = Array.from(solicitudesRechazadasList.children).reverse()
            solicitudesRechazadasList.innerHTML = ""
            if (solicitudesRechazadasItems.length > 0) {
                solicitudesRechazadasItems.forEach(item => {
                    solicitudesRechazadasList.appendChild(item)
                });
            } else {
                solicitudesRechazadasList.innerHTML = "<p class='ningun-material-text'>Actualmente no cuenta con ninguna solicitud rechazada</p>"
            }
        }

        // List approved requests from newest to oldest
        if (solicitudesAprobadasList) {
            const solicitudesAprobadasItems = Array.from(solicitudesAprobadasList.children).reverse()
            solicitudesAprobadasList.innerHTML = ""
            if (solicitudesAprobadasItems.length > 0) {
                solicitudesAprobadasItems.forEach(item => {
                    solicitudesAprobadasList.appendChild(item)
                });
            } else {
                solicitudesAprobadasList.innerHTML = "<p class='ningun-material-text'>Actualmente no cuenta con ninguna solicitud aprobada</p>"
            }
        }

        // List deleted requests from newest to oldest
        if (solicitudesEliminadasList) {
            const solicitudesEliminadasItems = Array.from(solicitudesEliminadasList.children).reverse()
            solicitudesEliminadasList.innerHTML = ""
            if (solicitudesEliminadasItems.length > 0) {
                solicitudesEliminadasItems.forEach(item => {
                    solicitudesEliminadasList.appendChild(item)
                });
            } else {
                solicitudesEliminadasList.innerHTML = "<p class='ningun-material-text'>Actualmente no cuenta con ninguna solicitud eliminada</p>"
            }
        }

        // Filter items by status
        if (btnTodas) {
            btnTodas.addEventListener('click', () => {
                solicitudesList.style.display = 'block'
                if (misSolicitudesList) {
                    misSolicitudesList.style.display = 'none'
                }
                if (allSolicitudesList) {
                    allSolicitudesList.style.display = 'none'
                }
                else {
                    solicitudesBorradoresList.style.display = 'none'
                    solicitudesPendientesList.style.display = 'none'
                    solicitudesRechazadasList.style.display = 'none'
                    solicitudesAprobadasList.style.display = 'none'
                    solicitudesEliminadasList.style.display = 'none'
                }
            })
        }
        if (btnMisSolicitudes) {
            btnMisSolicitudes.addEventListener('click', () => {
                solicitudesList.style.display = 'none'
                if (misSolicitudesList) {
                    misSolicitudesList.style.display = 'block'
                }
                if (allSolicitudesList) {
                    allSolicitudesList.style.display = 'none'
                }
                else {
                    solicitudesBorradoresList.style.display = 'none'
                    solicitudesPendientesList.style.display = 'none'
                    solicitudesRechazadasList.style.display = 'none'
                    solicitudesAprobadasList.style.display = 'none'
                    solicitudesEliminadasList.style.display = 'none'
                }
            })
        }
        if (btnAllSolicitudes) {
            btnAllSolicitudes.addEventListener('click', () => {
                solicitudesList.style.display = 'none'
                if (misSolicitudesList) {
                    misSolicitudesList.style.display = 'none'
                }
                if (allSolicitudesList) {
                    allSolicitudesList.style.display = 'block'
                }
                else {
                    solicitudesBorradoresList.style.display = 'none'
                    solicitudesPendientesList.style.display = 'none'
                    solicitudesRechazadasList.style.display = 'none'
                    solicitudesAprobadasList.style.display = 'none'
                    solicitudesEliminadasList.style.display = 'none'
                }
            })
        }
        if (btnBorradores) {
            btnBorradores.addEventListener('click', () => {
                solicitudesList.style.display = 'none'
                if (misSolicitudesList) {
                    misSolicitudesList.style.display = 'none'
                }
                if (allSolicitudesList) {
                    allSolicitudesList.style.display = 'none'
                }
                else {
                    solicitudesBorradoresList.style.display = 'block'
                    solicitudesPendientesList.style.display = 'none'
                    solicitudesRechazadasList.style.display = 'none'
                    solicitudesAprobadasList.style.display = 'none'
                    solicitudesEliminadasList.style.display = 'none'
                }
            })
        }
        if (btnPendientes) {
            btnPendientes.addEventListener('click', () => {
                solicitudesList.style.display = 'none'
                if (misSolicitudesList) {
                    misSolicitudesList.style.display = 'none'
                }
                if (allSolicitudesList) {
                    allSolicitudesList.style.display = 'none'
                }
                else {
                    solicitudesBorradoresList.style.display = 'none'
                    solicitudesPendientesList.style.display = 'block'
                    solicitudesRechazadasList.style.display = 'none'
                    solicitudesAprobadasList.style.display = 'none'
                    solicitudesEliminadasList.style.display = 'none'
                }
            })
        }
        if (btnRechazadas) {
            btnRechazadas.addEventListener('click', () => {
                solicitudesList.style.display = 'none'
                if (misSolicitudesList) {
                    misSolicitudesList.style.display = 'none'
                }
                if (allSolicitudesList) {
                    allSolicitudesList.style.display = 'none'
                }
                else {
                    solicitudesBorradoresList.style.display = 'none'
                    solicitudesPendientesList.style.display = 'none'
                    solicitudesRechazadasList.style.display = 'block'
                    solicitudesAprobadasList.style.display = 'none'
                    solicitudesEliminadasList.style.display = 'none'
                }
            })
        }
        if (btnAprobadas) {
            btnAprobadas.addEventListener('click', () => {
                solicitudesList.style.display = 'none'
                if (misSolicitudesList) {
                    misSolicitudesList.style.display = 'none'
                }
                if (allSolicitudesList) {
                    allSolicitudesList.style.display = 'none'
                }
                else {
                    solicitudesBorradoresList.style.display = 'none'
                    solicitudesPendientesList.style.display = 'none'
                    solicitudesRechazadasList.style.display = 'none'
                    solicitudesAprobadasList.style.display = 'block'
                    solicitudesEliminadasList.style.display = 'none'
                }
            })
        }
        if (btnEliminadas) {
            btnEliminadas.addEventListener('click', () => {
                solicitudesList.style.display = 'none'
                if (misSolicitudesList) {
                    misSolicitudesList.style.display = 'none'
                }
                if (allSolicitudesList) {
                    allSolicitudesList.style.display = 'none'
                }
                else {
                    solicitudesBorradoresList.style.display = 'none'
                    solicitudesPendientesList.style.display = 'none'
                    solicitudesRechazadasList.style.display = 'none'
                    solicitudesAprobadasList.style.display = 'none'
                    solicitudesEliminadasList.style.display = 'block'
                }
            })
        }
    });
</script>

{% endblock %}