{% extends 'base.html' %}

{% block content %}
  <main class="py-5 m-5">
    <div class="row mt-5 justify-content-center">
      <div style="max-width: 40rem;">
        <form class="card card-body" method="POST" style="background-color: rgb(255, 255, 255, 0.8);">
          <h1 class="mb-4">Registrar material</h1>

          {{ error }}

          {% csrf_token %}

          <!-- Es migracion field -->
          <div style="margin-bottom:1rem;">
            <p><b>En caso de que el material ya exista en otra empresa, marque la siguiente casilla:</b></p>
            <label for="id_es_migracion">Es migración:</label>
            {{ solicitud_form.es_migracion }}
            <p id="error-es-migracion" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
          </div>

          <!-- Material migración fields -->
          <div id="material-migracion-fields" style="display: none; margin-bottom:1rem;">
            <div id="material-migracion-empresas" style="display: flex; gap: 1rem; margin-bottom: 1rem;">
              <!-- Empresa origen -->
              <div style="width: 100%;">
                <p class="m-0">{{ solicitud_form.empresa_origen.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                {{ solicitud_form.empresa_origen }}
                <p id="error-empresa-origen" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
              </div>

              <!-- Empresa destino -->
              <div style="width: 100%;">
                <p class="m-0">{{ solicitud_form.empresa_destino.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                {{ solicitud_form.empresa_destino }}
                <p id="error-empresa-destino" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
              </div>
            </div>

            <!-- Nombre producto migracion field -->
            <div style="margin-bottom:1rem;">
              <label for="id_nombre_producto_migracion">Nombre producto:<span style="color: rgb(192, 0, 0);">*</span></label>
              {{ solicitud_form.nombre_producto_migracion }}
              <p id="error-rfc-migracion" style="color:red; margin-bottom:0; display:none;">Ingrese un RFC válido</p>
            </div>
          </div>

          <!-- Material nuevo fields -->
          <div id="material-nuevo-fields" style="display: block;">
            <!-- Empresa field -->
            <div style="margin-bottom:1rem;">
              <p class="m-0">{{ solicitud_form.empresa.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
              {{ solicitud_form.empresa }}
              <p id="error-empresa" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
            </div>

            <!-- Justificación field -->
            <div style="margin-bottom:1rem;">
              <label for="id_justificacion">Justificación:<span style="color: rgb(192, 0, 0);">*</span></label>
              {{ solicitud_form.justificacion }}
              <p id="error-justificacion" style="color:red; margin-bottom:0; display:none;">Este campo es requerido</p>
            </div>

            <h3>Materiales</h3>

            <div id="table-materials" class="table-responsive my-3" style="display:none; background-color: rgb(255, 255, 255);">
              <table class="table table-bordered" style="font-size: 0.8rem;">
                <thead>
                  <tr>                  
                    <th scope="col">Tipo alta</th>
                    <th scope="col">Subfamilia</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Largo</th>
                    <th scope="col">Ancho</th>
                    <th scope="col">Alto</th>
                    <th scope="col">Calibre</th>
                    <th scope="col">Material</th>
                    <th scope="col">Color</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Parte / Modelo</th>
                    <th scope="col">Nombre común</th>
                    <th scope="col">Medida</th>
                    <th scope="col">¿Es parte original?</th>
                    <th scope="col">Ing. activo</th>
                    <th scope="col">Tipo producto</th>
                    <th scope="col">Alias</th>
                    <th scope="col">UM</th>
                    <th scope="col">¿Es material empaque?</th>
                    <th scope="col">¿Es prod. terminado?</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="tbody-materials"></tbody>
              </table>
            </div>

            {{ material_formset.management_form }}
            <div id="material-forms">
              {% for material_form in material_formset %}
                <div id="material-form-0" class="material-form material-form-0">

                  <!-- Tipo alta field -->
                  <div class="tipo-alta-container" style="margin-bottom:1rem;">
                    <p class="m-0">{{ material_form.tipo_alta.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                    {{ material_form.tipo_alta }}
                    <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                  </div>

                  <!-- Subfamilia field -->
                  <div class="subfamilia-container" style="margin-bottom:1rem;">
                    <p class="m-0">{{ material_form.subfamilia.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                    {{ material_form.subfamilia }}
                    <p id="error-subfamilia" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                  </div>

                  <!-- Nombre producto field -->
                  <div class="nombre-producto-container" style="margin-bottom:1rem;">
                    <p class="m-0">{{ material_form.nombre_producto.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                    {{ material_form.nombre_producto }}
                    <p id="error-nombre-producto" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                  </div>

                  <p class="m-0">Medidas <span style="font-size: 0.8rem; font-style: italic;">(El valor debe ser numérico o N/A)</span></p>
                  <div style="display: flex; gap: 1rem;">
                    <!-- Largo field -->
                    <div class="largo-container" style="width: 25%; margin-bottom:1rem;">
                      <p class="m-0">{{ material_form.largo.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ material_form.largo }}
                      <p id="error-largo" style="color:red; margin-bottom:0; display:none;">El valor debe ser numérico o N/A</p>
                    </div>

                    <!-- Ancho field -->
                    <div class="ancho-container" style="width: 25%; margin-bottom:1rem;">
                      <p class="m-0">{{ material_form.ancho.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ material_form.ancho }}
                      <p id="error-ancho" style="color:red; margin-bottom:0; display:none;">El valor debe ser numérico o N/A</p>
                    </div>

                    <!-- Alto field -->
                    <div class="alto-container" style="width: 25%; margin-bottom:1rem;">
                      <p class="m-0">{{ material_form.alto.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ material_form.alto }}
                      <p id="error-alto" style="color:red; margin-bottom:0; display:none;">El valor debe ser numérico o N/A</p>
                    </div>

                    <!-- Calibre field -->
                    <div class="calibre-container" style="width: 25%; margin-bottom:1rem;">
                      <p class="m-0">{{ material_form.calibre.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ material_form.calibre }}
                      <p id="error-calibre" style="color:red; margin-bottom:0; display:none;">El valor debe ser numérico o N/A</p>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Material field -->
                    <div class="material-container" style="width: 50%; margin-bottom:1rem;">
                      <p class="m-0">{{ material_form.material.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ material_form.material }}
                      <p id="error-material" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Color field -->
                    <div class="color-container" style="width: 50%; margin-bottom:1rem;">
                      <p class="m-0">{{ material_form.color.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ material_form.color }}
                      <p id="error-color" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Marca field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      {{ material_form.marca.label_tag }}
                      {{ material_form.marca }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Parte/Modelo field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      <label for="id_parte_modelo">Parte / Modelo:</label>
                      {{ material_form.parte_modelo }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Nombre común field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      <label for="id_nombre_comun">Nombre común:</label>
                      {{ material_form.nombre_comun }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Ing activo field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      <label for="id_ing_activo">Ingrediente activo:</label>
                      {{ material_form.ing_activo }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Tipo producto field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      {{ material_form.tipo_producto.label_tag }}
                      {{ material_form.tipo_producto }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Alias field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      {{ material_form.alias.label_tag }}
                      {{ material_form.alias }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <!-- Unidad de medida field -->
                  <div class="unidad-medida-container" style="margin-bottom:1rem;">
                    <label for="id_unidad_medida">Unidad de medida:<span style="color: rgb(192, 0, 0);">*</span></label>
                    {{ material_form.unidad_medida }}
                    <p id="error-unidad-medida" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                  </div>

                  <div style="display: flex; justify-content: space-between; gap: 2rem;">
                    <!-- Es parte original field -->
                    <div style="margin-bottom:1rem;">
                      {{ material_form.es_parte_original.label_tag }}
                      {{ material_form.es_parte_original }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Es material empaque field -->
                    <div style="margin-bottom:1rem;">
                      {{ material_form.es_material_empaque.label_tag }}
                      {{ material_form.es_material_empaque }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Es prod terminado field -->
                    <div style="margin-bottom:1rem;">
                      <label for="id_es_prod_terminado">Es prod. terminado:</label>
                      {{ material_form.es_prod_terminado }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                </div>
              {% endfor %}
            </div>

            <button class="btn btn-secondary mb-3" type="button" id="add-material">Agregar Material</button>
          </div>

          <div class="d-flex gap-3">
            <button id="btn-borrador" class="btn w-100" type="submit" name="borrador" value="True" style="background-color: #3498DB; color: white; font-weight: bold;">Guardar como borrador</button>
            <button id="btn-guardar" class="btn w-100" type="submit" value="True" style="background-color: #008841; color: white; font-weight: bold;" disabled>Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Containers
      const materialNuevoFields = document.getElementById('material-nuevo-fields')
      const materialMigracionFields = document.getElementById('material-migracion-fields')
      const materialFormsContainer = document.getElementById('material-forms');

      // Inputs
      const esMigracion = document.getElementById('id_es_migracion')
      const empresaOrigen = document.getElementById('id_empresa_origen')
      const empresaDestino = document.getElementById('id_empresa_destino')
      const nombreProductoMigracion = document.getElementById('id_nombre_producto_migracion')
      const empresa = document.getElementById('id_empresa')
      const justificacion = document.getElementById('id_justificacion')

      // Buttons
      const btnAddMaterial = document.getElementById('add-material');
      const btnBorrador = document.getElementById('btn-borrador')
      const btnGuardar = document.getElementById('btn-guardar')

      // Error messages
      const errorEmpresaOrigen = document.getElementById('error-empresa-origen')
      const errorEmpresaDestino = document.getElementById('error-empresa-destino')
      const errorNombreProductoMigracion = document.getElementById('error-rfc-migracion')
      const errorEmpresa = document.getElementById('error-empresa')
      const errorJustificacion = document.getElementById('error-justificacion')

      // Table
      const tableMaterials = document.getElementById('table-materials')
      const bodyMaterials = document.getElementById('tbody-materials')

      // Counters and bands
      let formCount = {{ material_formset.total_form_count }};
      let materialCounter = 0
      let addMaterialBand = true
      let editingBand = false
      let editingId = 0

      const handleEsMigracion = (esMigracionValue) => {
        if(esMigracionValue) {
          materialNuevoFields.style.display = 'none'
          materialMigracionFields.style.display = 'block'
        }
        else {
          materialMigracionFields.style.display = 'none'
          materialNuevoFields.style.display = 'block'
        }

        empresaOrigen.required = esMigracionValue
        empresaDestino.required = esMigracionValue
        nombreProductoMigracion.required = esMigracionValue

        empresa.required = !esMigracionValue
        justificacion.required = !esMigracionValue
      }

      // Handling EsMigracion state change
      esMigracion.addEventListener('change', () => {
        handleEsMigracion(esMigracion.checked)
        enableSaveButton()
      })
      
      handleEsMigracion(esMigracion.checked)
    
      // Validacion empresa origen
      empresaOrigen.addEventListener('change', () => {
        if (empresaOrigen.value == '') {
          errorEmpresaOrigen.style.display = 'block'
        } else {
          errorEmpresaOrigen.style.display = 'none'
        }
        enableSaveButton()
      })
      
      // Validacion empresa destino
      empresaDestino.addEventListener('change', () => {
        if (empresaDestino.value == '') {
          errorEmpresaDestino.style.display = 'block'
        } else {
          errorEmpresaDestino.style.display = 'none'
        }
        enableSaveButton()
      })
      
      // Validacion rfc migracion
      nombreProductoMigracion.addEventListener('input', () => {
        if (nombreProductoMigracion.value != '') {
          errorNombreProductoMigracion.style.display = 'none'
        } else {
          errorNombreProductoMigracion.style.display = 'block'
        }
        enableSaveButton()
      })

      // Validacion empresa
      empresa.addEventListener('change', () => {
        if (empresa.value == '') {
          errorEmpresa.style.display = 'block'
        } else {
          errorEmpresa.style.display = 'none'
        }
        enableSaveButton()
      })
      
      // Validacion justificacion
      justificacion.addEventListener('input', () => {
        if (justificacion.value == '') {
          errorJustificacion.style.display = 'block'
        } else {
          errorJustificacion.style.display = 'none'
        }
        enableSaveButton()
      })
      
      const validarCamposMaterial = () => {

        // Validación tipo alta
        var tipoAltaInputs = document.querySelectorAll('.material-tipo-alta')
        tipoAltaInputs.forEach(function(input) {
            input.addEventListener('change', function() {
                var tipoAltaValue = input.value
                var container = input.closest('.tipo-alta-container')
                var errorTipoAlta = container.querySelector('#error-tipo-alta')
                // Verificar si el campo está vacío
                if (tipoAltaValue == '') {
                  errorTipoAlta.style.display = 'block'
                } else {
                  errorTipoAlta.style.display = 'none'
                }
            })
        })

        // Validación subfamilia
        var subfamiliaInputs = document.querySelectorAll('.material-subfamilia')
        subfamiliaInputs.forEach(function(input) {
            input.addEventListener('change', function() {
                var subfamiliaValue = input.value
                var container = input.closest('.subfamilia-container')
                var errorSubfamilia = container.querySelector('#error-subfamilia')
                // Verificar si el campo está vacío
                if (subfamiliaValue == '') {
                  errorSubfamilia.style.display = 'block'
                } else {
                  errorSubfamilia.style.display = 'none'
                }
            })
        })

        // Validación nombre producto
        var nombreProductoInputs = document.querySelectorAll('.material-nombre')
        nombreProductoInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var nombreProductoValue = input.value
                var container = input.closest('.nombre-producto-container')
                var errorNombreProducto = container.querySelector('#error-nombre-producto')
                // Verificar si el campo está vacío
                if (nombreProductoValue == '') {
                  errorNombreProducto.style.display = 'block'
                } else {
                  errorNombreProducto.style.display = 'none'
                }
            })
        })

        // Validación largo
        var largoInputs = document.querySelectorAll('.material-largo')
        largoInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var largoValue = input.value
                var container = input.closest('.largo-container')
                var errorLargo = container.querySelector('#error-largo')
                // Verificar si el valor es "N/A" o numérico
                if (largoValue === 'N/A' || !isNaN(parseFloat(largoValue)) && isFinite(largoValue)) {
                    errorLargo.style.display = 'none'
                } else {
                    errorLargo.style.display = 'block'
                }
            })
        })

        // Validación ancho
        var anchoInputs = document.querySelectorAll('.material-ancho')
        anchoInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var anchoValue = input.value
                var container = input.closest('.ancho-container')
                var errorAncho = container.querySelector('#error-ancho')
                // Verificar si el valor es "N/A" o numérico
                if (anchoValue === 'N/A' || !isNaN(parseFloat(anchoValue)) && isFinite(anchoValue)) {
                    errorAncho.style.display = 'none'
                } else {
                    errorAncho.style.display = 'block'
                }
            })
        })

        // Validación alto
        var altoInputs = document.querySelectorAll('.material-alto')
        altoInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var altoValue = input.value
                var container = input.closest('.alto-container')
                var errorAlto = container.querySelector('#error-alto')
                // Verificar si el valor es "N/A" o numérico
                if (altoValue === 'N/A' || !isNaN(parseFloat(altoValue)) && isFinite(altoValue)) {
                    errorAlto.style.display = 'none'
                } else {
                    errorAlto.style.display = 'block'
                }
            })
        })

        // Validación calibre
        var calibreInputs = document.querySelectorAll('.material-calibre')
        calibreInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var calibreValue = input.value
                var container = input.closest('.calibre-container')
                var errorCalibre = container.querySelector('#error-calibre')
                // Verificar si el valor es "N/A" o numérico
                if (calibreValue === 'N/A' || !isNaN(parseFloat(calibreValue)) && isFinite(calibreValue)) {
                    errorCalibre.style.display = 'none'
                } else {
                    errorCalibre.style.display = 'block'
                }
            })
        })

        // Validación material
        var materialInputs = document.querySelectorAll('.material-material')
        materialInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var materialValue = input.value
                var container = input.closest('.material-container')
                var errorMaterial = container.querySelector('#error-material')
                if (materialValue == '') {
                    errorMaterial.style.display = 'block'
                } else {
                    errorMaterial.style.display = 'none'
                }
            })
        })

        // Validación color
        var colorInputs = document.querySelectorAll('.material-color')
        colorInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var colorValue = input.value
                var container = input.closest('.color-container')
                var errorColor = container.querySelector('#error-color')
                if (colorValue == '') {
                    errorColor.style.display = 'block'
                } else {
                    errorColor.style.display = 'none'
                }
            })
        })

        // Validación unidad de medida
        var unidadMedidaInputs = document.querySelectorAll('.material-unidad-medida')
        unidadMedidaInputs.forEach(function(input) {
            input.addEventListener('change', function() {
                var unidadMedidaValue = input.value
                var container = input.closest('.unidad-medida-container')
                var errorUnidadMedida = container.querySelector('#error-unidad-medida')
                // Verificar si el campo está vacío
                if (unidadMedidaValue == '') {
                  errorUnidadMedida.style.display = 'block'
                } else {
                  errorUnidadMedida.style.display = 'none'
                }
            })
        })
      }

      validarCamposMaterial()

      const fillTable = () => {
        const materialForms = document.querySelectorAll('.material-form')
        tableMaterials.style.display = 'block'
        btnGuardar.disabled = false
        bodyMaterials.innerHTML = ''
        materialForms.forEach((materialForm, index) => {
          const tipoAlta = materialForm.querySelector('.material-tipo-alta')
          const subfamilia = materialForm.querySelector('.material-subfamilia')
          const nombre = materialForm.querySelector('.material-nombre')
          const largo = materialForm.querySelector('.material-largo')
          const ancho = materialForm.querySelector('.material-ancho')
          const alto = materialForm.querySelector('.material-alto')
          const calibre = materialForm.querySelector('.material-calibre')
          const material = materialForm.querySelector('.material-material')
          const color = materialForm.querySelector('.material-color')
          const marca = materialForm.querySelector('.material-marca')
          const parteModelo = materialForm.querySelector('.material-parte-modelo')
          const nombreComun = materialForm.querySelector('.material-nombre-comun')
          const esParteOriginal = materialForm.querySelector('.material-es-parte-original')
          const ingActivo = materialForm.querySelector('.material-ing-activo')
          const tipoProducto = materialForm.querySelector('.material-tipo-producto')
          const alias = materialForm.querySelector('.material-alias')
          const unidadMedida = materialForm.querySelector('.material-unidad-medida')
          const esMaterialEmpaque = materialForm.querySelector('.material-es-material-empaque')
          const esProdTerminado = materialForm.querySelector('.material-es-prod-terminado')

          esParteOriginalValue = esParteOriginal.checked == true ? 'Si' : 'No'
          esMaterialEmpaqueValue = esMaterialEmpaque.checked == true ? 'Si' : 'No'
          esProdTerminadoValue = esProdTerminado.checked == true ? 'Si' : 'No'

          const newRow = bodyMaterials.insertRow()
          newRow.classList.add('table-row')
          newRow.id = `table-row-${index}`
          newRow.innerHTML = `
          <td>${tipoAlta.value}</td>
          <td>${subfamilia.value}</td>
          <td>${nombre.value}</td>
          <td>${largo.value}</td>
          <td>${ancho.value}</td>
          <td>${alto.value}</td>
          <td>${calibre.value}</td>
          <td>${material.value}</td>
          <td>${color.value}</td>
          <td>${marca.value}</td>
          <td>${parteModelo.value}</td>
          <td>${nombreComun.value}</td>
          <td>${esParteOriginalValue}</td>
          <td>${ingActivo.value}</td>
          <td>${tipoProducto.value}</td>
          <td>${alias.value}</td>
          <td>${unidadMedida.value}</td>
          <td>${esMaterialEmpaqueValue}</td>
          <td>${esProdTerminadoValue}</td>
          <td>
            <button id="edit-material-${index}" class="btn btn-primary edit-material" type="button" style="font-size:0.8rem">Editar</button>
          </td>
          <td>
            <button id="remove-material-${index}" class="btn btn-danger remove-material" type="button" style="font-size:0.8rem">Eliminar</button>
          </td>`

          var deleteButtons = tableMaterials.getElementsByClassName('remove-material');
          if (deleteButtons.length > 1) {
            for(i=0; i<deleteButtons.length; i++) {
              deleteButtons[i].disabled = false
            }
          }
          else {
            for(i=0; i<deleteButtons.length; i++) {
              deleteButtons[i].disabled = true
            }
          }
        })
      }

      const createMaterialForm = () => {
        // Hiding all material forms
        const materialForms = document.querySelectorAll('.material-form')
        materialForms.forEach(materialForm => {
          materialForm.style.display = 'none'
        })
        
        const formHtml = `
            <!-- Tipo alta field -->
            <div class="tipo-alta-container" style="margin-bottom:1rem;">
              <p class="m-0">{{ material_formset.empty_form.tipo_alta.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
              {{ material_formset.empty_form.tipo_alta }}
              <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
            </div>

            <!-- Subfamilia field -->
            <div class="subfamilia-container" style="margin-bottom:1rem;">
              <p class="m-0">{{ material_formset.empty_form.subfamilia.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
              {{ material_formset.empty_form.subfamilia }}
              <p id="error-subfamilia" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
            </div>

            <!-- Nombre producto field -->
            <div class="nombre-producto-container" style="margin-bottom:1rem;">
              <p class="m-0">{{ material_formset.empty_form.nombre_producto.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
              {{ material_formset.empty_form.nombre_producto }}
              <p id="error-nombre-producto" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
            </div>

            <p class="m-0">Medidas <span style="font-size: 0.8rem; font-style: italic;">(El valor debe ser numérico o N/A)</span></p>
            <div style="display: flex; gap: 1rem;">
              <!-- Largo field -->
              <div class="largo-container" style="width: 25%; margin-bottom:1rem;">
                <p class="m-0">{{ material_formset.empty_form.largo.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                {{ material_formset.empty_form.largo }}
                <p id="error-largo" style="color:red; margin-bottom:0; display:none;">El valor debe ser numérico o N/A</p>
              </div>

              <!-- Ancho field -->
              <div class="ancho-container" style="width: 25%; margin-bottom:1rem;">
                <p class="m-0">{{ material_formset.empty_form.ancho.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                {{ material_formset.empty_form.ancho }}
                <p id="error-ancho" style="color:red; margin-bottom:0; display:none;">El valor debe ser numérico o N/A</p>
              </div>

              <!-- Alto field -->
              <div class="alto-container" style="width: 25%; margin-bottom:1rem;">
                <p class="m-0">{{ material_formset.empty_form.alto.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                {{ material_formset.empty_form.alto }}
                <p id="error-alto" style="color:red; margin-bottom:0; display:none;">El valor debe ser numérico o N/A</p>
              </div>

              <!-- Calibre field -->
              <div class="calibre-container" style="width: 25%; margin-bottom:1rem;">
                <p class="m-0">{{ material_formset.empty_form.calibre.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                {{ material_formset.empty_form.calibre }}
                <p id="error-calibre" style="color:red; margin-bottom:0; display:none;">El valor debe ser numérico o N/A</p>
              </div>
            </div>

            <div style="display: flex; gap: 1rem;">
              <!-- Material field -->
              <div class="material-container" style="width: 50%; margin-bottom:1rem;">
                <p class="m-0">{{ material_formset.empty_form.material.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                {{ material_formset.empty_form.material }}
                <p id="error-material" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
              </div>

              <!-- Color field -->
              <div class="color-container" style="width: 50%; margin-bottom:1rem;">
                <p class="m-0">{{ material_formset.empty_form.color.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                {{ material_formset.empty_form.color }}
                <p id="error-color" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
              </div>
            </div>

            <div style="display: flex; gap: 1rem;">
              <!-- Marca field -->
              <div style="width: 50%; margin-bottom:1rem;">
                {{ material_formset.empty_form.marca.label_tag }}
                {{ material_formset.empty_form.marca }}
                <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
              </div>

              <!-- Parte/Modelo field -->
              <div style="width: 50%; margin-bottom:1rem;">
                <label for="id_parte_modelo">Parte / Modelo:</label>
                {{ material_formset.empty_form.parte_modelo }}
                <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
              </div>
            </div>

            <div style="display: flex; gap: 1rem;">
              <!-- Nombre común field -->
              <div style="width: 50%; margin-bottom:1rem;">
                <label for="id_nombre_comun">Nombre común:</label>
                {{ material_formset.empty_form.nombre_comun }}
                <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
              </div>

              <!-- Ing activo field -->
              <div style="width: 50%; margin-bottom:1rem;">
                <label for="id_ing_activo">Ingrediente activo:</label>
                {{ material_formset.empty_form.ing_activo }}
                <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
              </div>
            </div>

            <div style="display: flex; gap: 1rem;">
              <!-- Tipo producto field -->
              <div style="width: 50%; margin-bottom:1rem;">
                {{ material_formset.empty_form.tipo_producto.label_tag }}
                {{ material_formset.empty_form.tipo_producto }}
                <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
              </div>

              <!-- Alias field -->
              <div style="width: 50%; margin-bottom:1rem;">
                {{ material_formset.empty_form.alias.label_tag }}
                {{ material_formset.empty_form.alias }}
                <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
              </div>
            </div>

            <!-- Unidad de medida field -->
            <div class="unidad-medida-container" style="margin-bottom:1rem;">
              <label for="id_unidad_medida">Unidad de medida:<span style="color: rgb(192, 0, 0);">*</span></label>
              {{ material_formset.empty_form.unidad_medida }}
              <p id="error-unidad-medida" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
            </div>

            <div style="display: flex; justify-content: space-between; gap: 2rem;">
              <!-- Es parte original field -->
              <div style="margin-bottom:1rem;">
                {{ material_formset.empty_form.es_parte_original.label_tag }}
                {{ material_formset.empty_form.es_parte_original }}
                <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
              </div>

              <!-- Es material empaque field -->
              <div style="margin-bottom:1rem;">
                {{ material_formset.empty_form.es_material_empaque.label_tag }}
                {{ material_formset.empty_form.es_material_empaque }}
                <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
              </div>

              <!-- Es prod terminado field -->
              <div style="margin-bottom:1rem;">
                <label for="id_es_prod_terminado">Es prod. terminado:</label>
                {{ material_formset.empty_form.es_prod_terminado }}
                <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
              </div>
            </div>
          `;
        const form = document.createElement('div');
        form.id = `material-form-${formCount}`
        form.classList.add('material-form')
        form.classList.add(`material-form-${formCount}`)
        form.innerHTML = formHtml.replace(/__prefix__/g, formCount);
        materialFormsContainer.appendChild(form);

        formCount++;
        document.querySelector("#id_material-TOTAL_FORMS").value = formCount;
        materialCounter++

        // Todos los formularios deben validar las medidas
        validarCamposMaterial()
      }
    
      btnAddMaterial.addEventListener('click', function() {
        var tipoAlta
        var subfamilia
        var nombreProducto
        var largo
        var ancho
        var alto
        var calibre
        var material
        var color
        var unidadMedida

        if (!editingBand) {
          tipoAlta = document.getElementById(`id_material-${materialCounter}-tipo_alta`).value
          subfamilia = document.getElementById(`id_material-${materialCounter}-subfamilia`).value
          nombreProducto = document.getElementById(`id_material-${materialCounter}-nombre_producto`).value
          largo = document.getElementById(`id_material-${materialCounter}-largo`).value
          ancho = document.getElementById(`id_material-${materialCounter}-ancho`).value
          alto = document.getElementById(`id_material-${materialCounter}-alto`).value
          calibre = document.getElementById(`id_material-${materialCounter}-calibre`).value
          material = document.getElementById(`id_material-${materialCounter}-material`).value
          color = document.getElementById(`id_material-${materialCounter}-color`).value
          unidadMedida = document.getElementById(`id_material-${materialCounter}-unidad_medida`).value
        }
        else {
          tipoAlta = document.getElementById(`id_material-${editingId}-tipo_alta`).value
          subfamilia = document.getElementById(`id_material-${editingId}-subfamilia`).value
          nombreProducto = document.getElementById(`id_material-${editingId}-nombre_producto`).value
          largo = document.getElementById(`id_material-${editingId}-largo`).value
          ancho = document.getElementById(`id_material-${editingId}-ancho`).value
          alto = document.getElementById(`id_material-${editingId}-alto`).value
          calibre = document.getElementById(`id_material-${editingId}-calibre`).value
          material = document.getElementById(`id_material-${editingId}-material`).value
          color = document.getElementById(`id_material-${editingId}-color`).value
          unidadMedida = document.getElementById(`id_material-${editingId}-unidad_medida`).value
        }

        if(tipoAlta !== '' && subfamilia !== '' && nombreProducto !== '' && largo !== '' && ancho !== '' && alto !== '' && calibre !== '' && material !== '' && color !== '' && unidadMedida !== '') {
          fillTable()
          createMaterialForm()
          btnAddMaterial.innerHTML = 'Agregar Material'
        }
        else {
          window.alert('Algún campo está vacío')
        }
      });

      tableMaterials.addEventListener('click', function(event) {
        // If the edit button is clicked, display the corresponding form
        if (event.target && event.target.classList.contains('edit-material')) {
          // Disable edit buttons
          const editButtons = tableMaterials.getElementsByClassName('edit-material');
            for (let i = 0; i < editButtons.length; i++) {
              editButtons[i].disabled = true
            }
          // Show the selected form
          editingBand = true
          editingId = event.target.id.substring(14, event.target.id.length)
          const form = document.getElementById(`material-form-${editingId}`)
          if (form) {
            form.style.display = "block"
          }
          // Then, the last form created is removed
          const lastForm = document.getElementById(`material-form-${formCount - 1}`);
          if (lastForm) {
            lastForm.remove();
            // Recorre todos los formularios restantes y actualiza sus índices
            const forms = materialFormsContainer.getElementsByClassName('material-form');
            for (let i = 0; i < forms.length; i++) {
              const inputs = forms[i].querySelectorAll('[name^=material-]');
              for (let j = 0; j < inputs.length; j++) {
                inputs[j].name = inputs[j].name.replace(/\d+/, i);
              }
            }
            materialCounter--
            formCount--;
            document.querySelector("#id_material-TOTAL_FORMS").value = formCount;
          }

          btnAddMaterial.innerHTML = 'Guardar Cambios'
        }

        // If the delete button is clicked, remove the row and the form
        if (event.target && event.target.classList.contains('remove-material')) {
          const row = event.target.closest('.table-row');
          if (row) {
            row.remove();
            // Recorre todos las filas restantes y actualiza sus índices
            const rows = tableMaterials.getElementsByClassName('table-row');
            for (let i = 0; i < rows.length; i++) {
              rows[i].id = `table-row-${i}`
            }
            // Recorre todos los botones restantes y actualiza sus índices
            const editButtons = tableMaterials.getElementsByClassName('edit-material');
            for (let i = 0; i < editButtons.length; i++) {
              editButtons[i].id = `edit-material-${i}`
            }
            const removeButtons = tableMaterials.getElementsByClassName('remove-material');
            for (let i = 0; i < removeButtons.length; i++) {
              removeButtons[i].id = `remove-material-${i}`
            }
            // Enable edit buttons
            for (let i = 0; i < editButtons.length; i++) {
              editButtons[i].disabled = false
            }

            var deleteButtons = tableMaterials.getElementsByClassName('remove-material');
            if (deleteButtons.length > 1) {
              for(i=0; i<deleteButtons.length; i++) {
                deleteButtons[i].disabled = false
              }
            }
            else {
              for(i=0; i<deleteButtons.length; i++) {
                deleteButtons[i].disabled = true
              }
            }
          }
          const form = document.getElementById(`material-form-${editingId}`);
          if (form) {
            form.remove();
            // Recorre todos los formularios restantes y actualiza sus índices
            const forms = materialFormsContainer.getElementsByClassName('material-form');
            for (let i = 0; i < forms.length; i++) {
              forms[i].id = `material-form-${i}`
              const inputs = forms[i].querySelectorAll('[id^=id_material-]');
              for (let j = 0; j < inputs.length; j++) {
                inputs[j].id = inputs[j].id.replace(/\d+/, i);
              }
            }
            materialCounter--
            addMaterialBand = false
            formCount--;
            document.querySelector("#id_material-TOTAL_FORMS").value = formCount;
          }

          if (materialCounter == 1) {
            var deleteButtons = document.getElementsByClassName('remove-material');
            for(i=0; i<deleteButtons.length-1; i++) {
              deleteButtons[i].disabled = true
            }
          }
        }
      })

      materialFormsContainer.addEventListener('click', function(event) {
        // If the delete button is clicked, remove the whole parent node
        if (event.target && event.target.classList.contains('remove-material')) {
          const form = event.target.closest('.material-form');
          if (form) {
            form.remove();
            // Recorre todos los formularios restantes y actualiza sus índices
            const forms = materialFormsContainer.getElementsByClassName('material-form');
            for (let i = 0; i < forms.length; i++) {
              forms[i].id = `material-form-${i}`
              const inputs = forms[i].querySelectorAll('[id^=id_material-]');
              for (let j = 0; j < inputs.length; j++) {
                inputs[j].id = inputs[j].id.replace(/\d+/, i);
              }
            }
            materialCounter--
            addMaterialBand = false
            formCount--;
            document.querySelector("#id_material-TOTAL_FORMS").value = formCount;

            // Enable edit buttons
            const editButtons = tableMaterials.getElementsByClassName('edit-material');
            for (let i = 0; i < editButtons.length; i++) {
              editButtons[i].disabled = false
            }

            if (materialCounter == 1) {
              var deleteButtons = document.getElementsByClassName('remove-material');
              for(i=0; i<deleteButtons.length-1; i++) {
                deleteButtons[i].disabled = true
              }
            }
          }
          if(editingBand) {
            const row = document.getElementById(`table-row-${editingId}`);
            if (row) {
              row.remove();
              // Recorre todos las filas restantes y actualiza sus índices
              const rows = tableMaterials.getElementsByClassName('table-row');
              for (let i = 0; i < rows.length; i++) {
                rows[i].id = `table-row-${i}`
              }
              // Recorre todos los botones restantes y actualiza sus índices
              const editButtons = tableMaterials.getElementsByClassName('edit-material');
              for (let i = 0; i < editButtons.length; i++) {
                editButtons[i].id = `edit-material-${i}`
              }
            }
          }
          createMaterialForm()
        }
      });

      function enableSaveButton() {
        if(errorEmpresa.style.display == 'block' || errorJustificacion.style.display == 'block') {
          btnGuardar.disabled = true
        }
        else {
          btnGuardar.disabled = false
        }
      }

      const handleBorradorSubmit = () => {
        empresaOrigen.removeAttribute('required')
        empresaDestino.removeAttribute('required')
        nombreProductoMigracion.removeAttribute('required')
        empresa.removeAttribute('required')
        justificacion.removeAttribute('required')
      }

      btnBorrador.addEventListener('click', () => {// Si no se ha añadido ningún material, no se envía la solicitud
        if (!esMigracion.checked && tableMaterials.style.display != 'block') {
          window.alert('Por favor añada al menos un producto');
          event.preventDefault();
        }
        handleBorradorSubmit()
      })

      btnGuardar.addEventListener('click', (event) => {
        // Si no se ha añadido ningún material, no se envía la solicitud
        if (!esMigracion.checked && tableMaterials.style.display != 'block') {
          window.alert('Por favor añada al menos un producto');
          event.preventDefault();
        }
        // Si el registro ya existe en otra empresa, se envia directo a sistemas
        if (esMigracion.checked) {
          btnGuardar.setAttribute('name', 'finanzas');
        } else {
          btnGuardar.setAttribute('name', 'pendiente');
        }
      })
    });
  </script>
{% endblock %}
