{% extends 'base.html' %}

{% block content %}
  <main class="py-5 m-5">
    <div class="row mt-5 justify-content-center">
      <div style="max-width: 40rem;">
        <form class="card card-body" method="POST" style="background-color: rgb(255, 255, 255, 0.8);">
          <h1 class="mb-4">Detalle de la solicitud</h1>

          {{ error }}

          {% csrf_token %}

          <div style="display: none;">
            {{ solicitud_form.es_migracion.label_tag }}
            {{ solicitud_form.es_migracion }}
            <p id="error-es-migracion" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
          </div>

          {% if solicitud.es_migracion %}
            <!-- Material migración fields -->
            <h2 style="margin-bottom: 2rem;">Migración - {{ solicitud.nombre_producto_migracion }}</h2>

            <div id="material-migracion-empresas" style="display: flex; gap: 1rem; margin-bottom: 1rem;">
              <!-- Empresa origen -->
              <div style="width: 100%;">
                <p class="m-0">{{ solicitud_form.empresa_origen.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                {{ solicitud_form.empresa_origen }}
                <p id="error-empresa-origen" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
              </div>

              <!-- Empresa destino -->
              <div style="width: 100%;">
                <p class="m-0">{{ solicitud_form.empresa_destino.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                {{ solicitud_form.empresa_destino }}
                <p id="error-empresa-destino" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
              </div>
            </div>

            <!-- Nombre producto migracion field -->
            <div style="margin-bottom:1rem;">
              <label for="id_nombre_producto_migracion">Nombre producto:<span style="color: rgb(192, 0, 0);">*</span></label>
              {{ solicitud_form.nombre_producto_migracion }}
              <p id="error-rfc-migracion" style="color:red; margin-bottom:0; display:none;">Ingrese un RFC válido</p>
            </div>

          {% else %}

            <!-- Material nuevo fields -->
            <!-- Empresa field -->
            <div style="margin-bottom:1rem;">
              <p class="m-0">{{ solicitud_form.empresa.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
              {{ solicitud_form.empresa }}
              <p id="error-empresa" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
            </div>

            <!-- Justificación field -->
            <div style="margin-bottom:1rem;">
              <label for="id_justificacion">Justificación:<span style="color: rgb(192, 0, 0);">*</span></label>
              {{ solicitud_form.justificacion }}
              <p id="error-justificacion" style="color:red; margin-bottom:0; display:none;">Este campo es requerido</p>
            </div>

            <h3>Materiales</h3>

            <div id="table-materials" class="table-responsive my-3" style="font-size: 0.8rem; background-color: rgb(255, 255, 255);">
              <table class="table table-bordered table-sm">
                <thead class="text-center">
                  <tr>
                    <th scope="col">Tipo alta</th>
                    <th scope="col">Subfamilia</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Largo</th>
                    <th scope="col">Ancho</th>
                    <th scope="col">Alto</th>
                    <th scope="col">Calibre</th>
                    <th scope="col">Material</th>
                    <th scope="col">Color</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Parte / Modelo</th>
                    <th scope="col">Nombre común</th>
                    <th scope="col">¿Es parte original?</th>
                    <th scope="col">Ing. activo</th>
                    <th scope="col">Tipo producto</th>
                    <th scope="col">Alias</th>
                    <th scope="col">UM</th>
                    <th scope="col">¿Es material empaque?</th>
                    <th scope="col">¿Es prod. terminado?</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="tbody-materials"></tbody>
              </table>
            </div>

            <div id="material-forms">
              {% for form in material_forms %}
                <div id="material-form-{{ forloop.counter0 }}" class="material-form" style="display:none;">
                  
                  <!-- Tipo alta field -->
                  <div class="tipo-alta-container" style="margin-bottom:1rem;">
                    <p class="m-0">{{ form.tipo_alta.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                    {{ form.tipo_alta }}
                    <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                  </div>

                  <!-- Subfamilia field -->
                  <div class="subfamilia-container" style="margin-bottom:1rem;">
                    <p class="m-0">{{ form.subfamilia.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                    {{ form.subfamilia }}
                    <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                  </div>

                  <!-- Nombre producto field -->
                  <div class="nombre-producto-container" style="margin-bottom:1rem;">
                    <p class="m-0">{{ form.nombre_producto.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                    {{ form.nombre_producto }}
                    <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                  </div>

                  <p class="m-0">Medidas <span style="font-size: 0.8rem; font-style: italic;">(El valor debe ser numérico o N/A)</span></p>
                  <div style="display: flex; gap: 1rem;">
                    <!-- Largo field -->
                    <div class="largo-container" style="width: 25%; margin-bottom:1rem;">
                      <p class="m-0">{{ form.largo.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ form.largo }}
                      <p id="error-largo" style="color:red; margin-bottom:0; display:none;">El valor debe ser numérico o N/A</p>
                    </div>

                    <!-- Ancho field -->
                    <div class="ancho-container" style="width: 25%; margin-bottom:1rem;">
                      <p class="m-0">{{ form.ancho.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ form.ancho }}
                      <p id="error-ancho" style="color:red; margin-bottom:0; display:none;">El valor debe ser numérico o N/A</p>
                    </div>

                    <!-- Alto field -->
                    <div class="alto-container" style="width: 25%; margin-bottom:1rem;">
                      <p class="m-0">{{ form.alto.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ form.alto }}
                      <p id="error-alto" style="color:red; margin-bottom:0; display:none;">El valor debe ser numérico o N/A</p>
                    </div>

                    <!-- Calibre field -->
                    <div class="calibre-container" style="width: 25%; margin-bottom:1rem;">
                      <p class="m-0">{{ form.calibre.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ form.calibre }}
                      <p id="error-calibre" style="color:red; margin-bottom:0; display:none;">El valor debe ser numérico o N/A</p>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Material field -->
                    <div class="material-container" style="width: 50%; margin-bottom:1rem;">
                      <p class="m-0">{{ form.material.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ form.material }}
                      <p id="error-material" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Color field -->
                    <div class="color-container" style="width: 50%; margin-bottom:1rem;">
                      <p class="m-0">{{ form.color.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ form.color }}
                      <p id="error-color" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Marca field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      {{ form.marca.label_tag }}
                      {{ form.marca }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Parte / Modelo field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      <label for="id_parte_modelo">Parte / Modelo:</label>
                      {{ form.parte_modelo }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Nombre común field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      <label for="id_nombre_comun">Nombre común:</label>
                      {{ form.nombre_comun }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Ing activo field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      <label for="id_ing_activo">Ingrediente activo:</label>
                      {{ form.ing_activo }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Tipo producto field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      {{ form.tipo_producto.label_tag }}
                      {{ form.tipo_producto }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Alias field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      {{ form.alias.label_tag }}
                      {{ form.alias }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <!-- Unidad de medida field -->
                  <div class="unidad-medida-container" style="margin-bottom:1rem;">
                    <label for="id_unidad_medida">Unidad de medida:<span style="color: rgb(192, 0, 0);">*</span></label>
                    {{ form.unidad_medida }}
                    <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                  </div>

                  <div style="display: flex; justify-content: space-between; gap: 2rem;">
                    <!-- Es parte original field -->
                    <div style="margin-bottom:1rem;">
                      {{ form.es_parte_original.label_tag }}
                      {{ form.es_parte_original }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Es material empaque field -->
                    <div style="margin-bottom:1rem;">
                      {{ form.es_material_empaque.label_tag }}
                      {{ form.es_material_empaque }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Es prod terminado field -->
                    <div style="margin-bottom:1rem;">
                      <label for="id_es_prod_terminado">Es prod. terminado:</label>
                      {{ form.es_prod_terminado }}
                      <p id="error-tipo-alta" style="color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                </div>
              {% endfor %}
            </div>

          {% endif %}

          <!-- Comentarios field -->
          <div style="margin-bottom:1rem;">
            {{ solicitud_form.comentarios.label_tag }}
            {{ solicitud_form.comentarios }}
            <p id="error-comentarios" style="color:red; margin-bottom:0; display:none;">Este campo es requerido</p>
          </div>

          <div id="buttons-container" class="d-flex justify-content-between gap-2">
            {% if solicitud.rechazado_compras == True or solicitud.rechazado_finanzas == True or solicitud.rechazado_sistemas == True or solicitud.borrador == True %}
              {% if solicitud.es_migracion %}
                <button id="btn-save" class="btn w-100 btn-save" style="margin-top: 0.5rem; background-color: #008841; color: white; font-weight: bold;" type="submit" name="finanzas" value="True">Enviar</button>
              {% else %}
                <button id="btn-save" class="btn w-100 btn-save" style="margin-top: 0.5rem; background-color: #008841; color: white; font-weight: bold;" type="submit" name="pendiente" value="True">Enviar</button>
              {% endif %}

              <button id="btn-delete" class="btn btn-delete w-100" style="margin-top: 0.5rem; background-color: tomato; color: white; font-weight: bold;" type="submit" name="eliminado" value="True">Eliminar solicitud</button>
            {% endif %}

            {% if current_user.compras == True %}
              <button id="btn-approve" class="btn btn-approve w-100" style="margin-top: 0.5rem; background-color: #008841; color: white; font-weight: bold;" type="submit" name="compras" value="True">Aprobar</button>

              <button id="btn-decline" class="btn btn-reject w-100" style="margin-top: 0.5rem; background-color: tomato; color: white; font-weight: bold;" type="submit" name="rechazado_compras" value="True">Rechazar</button>
            {% endif %}

            {% if current_user.finanzas == True %}
              <button id="btn-approve" class="btn btn-approve w-100" style="margin-top: 0.5rem; background-color: #008841; color: white; font-weight: bold;" type="submit" name="finanzas" value="True">Aprobar</button>

              <button id="btn-decline" class="btn btn-reject w-100" style="margin-top: 0.5rem; background-color: tomato; color: white; font-weight: bold;" type="submit" name="rechazado_finanzas" value="True">Rechazar</button>
            {% endif %}

            {% if current_user.sistemas == True %}
              <button id="btn-approve" class="btn btn-approve w-100" style="margin-top: 0.5rem; background-color: #008841; color: white; font-weight: bold;" type="submit" name="sistemas" value="True">Aprobar</button>

              <button id="btn-decline" class="btn btn-reject w-100" style="margin-top: 0.5rem; background-color: tomato; color: white; font-weight: bold;" type="submit" name="rechazado_sistemas" value="True">Rechazar</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Containers
      const materialFormsContainer = document.getElementById('material-forms');
      const tableMaterials = document.getElementById('table-materials')
      const bodyMaterials = document.getElementById('tbody-materials')
      const buttonsContainer = document.getElementById('buttons-container');
      let materialCounter = 0

      // Inputs
      const empresaOrigen = document.getElementById('id_empresa_origen')
      const empresaDestino = document.getElementById('id_empresa_destino')
      const nombreProductoMigracion = document.getElementById('id_nombre_producto_migracion')
      const empresa = document.getElementById('id_empresa')
      const justificacion = document.getElementById('id_justificacion')
      const comentarios = document.getElementById('id_comentarios')
      
      // Error messages
      const errorEmpresaOrigen = document.getElementById('error-empresa-origen')
      const errorEmpresaDestino = document.getElementById('error-empresa-destino')
      const errorNombreProductoMigracion = document.getElementById('error-rfc-migracion')
      const errorEmpresa = document.getElementById('error-empresa')
      const errorJustificacion = document.getElementById('error-justificacion')
      const errorComentarios = document.getElementById('error-comentarios')
      
      // Buttons
      const btnSave = document.getElementById('btn-save')
      const btnDelete = document.getElementById('btn-delete')
      const btnApprove = document.getElementById('btn-approve')
      const btnDecline = document.getElementById('btn-decline')
      
      buttonsContainer.addEventListener('click', function(event) {  
        if (event.target && event.target.classList.contains('btn-save')) {
          comentarios.value = ''
        }
        if (event.target && event.target.classList.contains('btn-reject')) {
          comentarios.setAttribute('required', 'true')
          if(comentarios.value == '') {
            errorComentarios.style.display = 'block'
          }
        }
        if (event.target && event.target.classList.contains('btn-approve')) {
          comentarios.removeAttribute('required')
          comentarios.value = ''
        }
      });

      const disableDeleteButtons = () => {
        const deleteButtons = tableMaterials.getElementsByClassName('delete-material')
        if (materialCounter > 1) {
          for (i=0; i<deleteButtons.length; i++) {
            deleteButtons[i].removeAttribute('disabled')
          }
        }
        else {
          for (i=0; i<deleteButtons.length; i++) {
            deleteButtons[i].setAttribute('disabled', true)
          }
        }
      }

      // FIELD VALIDATION
      
      // Validacion empresa origen
      if (empresaOrigen) {
        empresaOrigen.addEventListener('change', () => {
          if (empresaOrigen.value == '') {
            errorEmpresaOrigen.style.display = 'block'
          } else {
            errorEmpresaOrigen.style.display = 'none'
          }
          enableSaveButton()
        })
      }
      
      // Validacion empresa destino
      if (empresaDestino) {
        empresaDestino.addEventListener('change', () => {
          if (empresaDestino.value == '') {
            errorEmpresaDestino.style.display = 'block'
          } else {
            errorEmpresaDestino.style.display = 'none'
          }
          enableSaveButton()
        })
      }
      
      // Validacion rfc migracion
      if (nombreProductoMigracion) {
        nombreProductoMigracion.addEventListener('input', () => {
          if (rfcPattern.test(nombreProductoMigracion.value)) {
            errorNombreProductoMigracion.style.display = 'none'
          } else {
            errorNombreProductoMigracion.style.display = 'block'
          }
          enableSaveButton()
        })
      }
    
      // Validacion empresa
      if (empresa) {
        empresa.addEventListener('change', () => {asd
          if (empresa.value == '') {
            errorEmpresa.style.display = 'block'
          } else {
            errorEmpresa.style.display = 'none'
          }
          enableSaveButton()
        })
      }
      
      // Validacion justificacion
      if (justificacion) {
        justificacion.addEventListener('input', () => {
          if (justificacion.value == '') {
            errorJustificacion.style.display = 'block'
          } else {
            errorJustificacion.style.display = 'none'
          }
          enableSaveButton()
        })
      }

      const validarCamposMaterial = () => {

        // Validación tipo alta
        var tipoAltaInputs = document.querySelectorAll('.material-tipo-alta')
        tipoAltaInputs.forEach(function(input) {
            input.addEventListener('change', function() {
                var tipoAltaValue = input.value
                var container = input.closest('.tipo-alta-container')
                var errorTipoAlta = container.querySelector('#error-tipo-alta')
                // Verificar si el campo está vacío
                if (tipoAltaValue == '') {
                  errorTipoAlta.style.display = 'block'
                } else {
                  errorTipoAlta.style.display = 'none'
                }
            })
        })

        // Validación subfamilia
        var subfamiliaInputs = document.querySelectorAll('.material-subfamilia')
        subfamiliaInputs.forEach(function(input) {
            input.addEventListener('change', function() {
                var subfamiliaValue = input.value
                var container = input.closest('.subfamilia-container')
                var errorSubfamilia = container.querySelector('#error-subfamilia')
                // Verificar si el campo está vacío
                if (subfamiliaValue == '') {
                  errorSubfamilia.style.display = 'block'
                } else {
                  errorSubfamilia.style.display = 'none'
                }
            })
        })

        // Validación nombre producto
        var nombreProductoInputs = document.querySelectorAll('.material-nombre')
        nombreProductoInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var nombreProductoValue = input.value
                var container = input.closest('.nombre-producto-container')
                var errorNombreProducto = container.querySelector('#error-nombre-producto')
                // Verificar si el campo está vacío
                if (nombreProductoValue == '') {
                  errorNombreProducto.style.display = 'block'
                } else {
                  errorNombreProducto.style.display = 'none'
                }
            })
        })

        // Validación largo
        var largoInputs = document.querySelectorAll('.material-largo')
        largoInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var largoValue = input.value
                var container = input.closest('.largo-container')
                var errorLargo = container.querySelector('#error-largo')
                // Verificar si el valor es "N/A" o numérico
                if (largoValue === 'N/A' || !isNaN(parseFloat(largoValue)) && isFinite(largoValue)) {
                    errorLargo.style.display = 'none'
                } else {
                    errorLargo.style.display = 'block'
                }
            })
        })

        // Validación ancho
        var anchoInputs = document.querySelectorAll('.material-ancho')
        anchoInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var anchoValue = input.value
                var container = input.closest('.ancho-container')
                var errorAncho = container.querySelector('#error-ancho')
                // Verificar si el valor es "N/A" o numérico
                if (anchoValue === 'N/A' || !isNaN(parseFloat(anchoValue)) && isFinite(anchoValue)) {
                    errorAncho.style.display = 'none'
                } else {
                    errorAncho.style.display = 'block'
                }
            })
        })

        // Validación alto
        var altoInputs = document.querySelectorAll('.material-alto')
        altoInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var altoValue = input.value
                var container = input.closest('.alto-container')
                var errorAlto = container.querySelector('#error-alto')
                // Verificar si el valor es "N/A" o numérico
                if (altoValue === 'N/A' || !isNaN(parseFloat(altoValue)) && isFinite(altoValue)) {
                    errorAlto.style.display = 'none'
                } else {
                    errorAlto.style.display = 'block'
                }
            })
        })

        // Validación calibre
        var calibreInputs = document.querySelectorAll('.material-calibre')
        calibreInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var calibreValue = input.value
                var container = input.closest('.calibre-container')
                var errorCalibre = container.querySelector('#error-calibre')
                // Verificar si el valor es "N/A" o numérico
                if (calibreValue === 'N/A' || !isNaN(parseFloat(calibreValue)) && isFinite(calibreValue)) {
                    errorCalibre.style.display = 'none'
                } else {
                    errorCalibre.style.display = 'block'
                }
            })
        })

        // Validación material
        var materialInputs = document.querySelectorAll('.material-material')
        materialInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var materialValue = input.value
                var container = input.closest('.material-container')
                var errorMaterial = container.querySelector('#error-material')
                if (materialValue == '') {
                    errorMaterial.style.display = 'block'
                } else {
                    errorMaterial.style.display = 'none'
                }
            })
        })

        // Validación color
        var colorInputs = document.querySelectorAll('.material-color')
        colorInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var colorValue = input.value
                var container = input.closest('.color-container')
                var errorColor = container.querySelector('#error-color')
                if (colorValue == '') {
                    errorColor.style.display = 'block'
                } else {
                    errorColor.style.display = 'none'
                }
            })
        })

        // Validación unidad de medida
        var unidadMedidaInputs = document.querySelectorAll('.material-unidad-medida')
        unidadMedidaInputs.forEach(function(input) {
            input.addEventListener('change', function() {
                var unidadMedidaValue = input.value
                var container = input.closest('.unidad-medida-container')
                var errorUnidadMedida = container.querySelector('#error-unidad-medida')
                // Verificar si el campo está vacío
                if (unidadMedidaValue == '') {
                  errorUnidadMedida.style.display = 'block'
                } else {
                  errorUnidadMedida.style.display = 'none'
                }
            })
        })
      }

      validarCamposMaterial()

      const fillTable = () => {
        materialCounter = 0
        bodyMaterials.innerHTML = ''
        const materialForms = document.querySelectorAll('.material-form')
        materialForms.forEach(function(materialForm, index) {
          materialCounter += 1
          const tipoAlta = materialForm.querySelector('.material-tipo-alta')
          const subfamilia = materialForm.querySelector('.material-subfamilia')
          const nombre = materialForm.querySelector('.material-nombre')
          const largo = materialForm.querySelector('.material-largo')
          const ancho = materialForm.querySelector('.material-ancho')
          const alto = materialForm.querySelector('.material-alto')
          const calibre = materialForm.querySelector('.material-calibre')
          const material = materialForm.querySelector('.material-material')
          const color = materialForm.querySelector('.material-color')
          const marca = materialForm.querySelector('.material-marca')
          const parteModelo = materialForm.querySelector('.material-parte-modelo')
          const nombreComun = materialForm.querySelector('.material-nombre-comun')
          const esParteOriginal = materialForm.querySelector('.material-es-parte-original')
          const ingActivo = materialForm.querySelector('.material-ing-activo')
          const tipoProducto = materialForm.querySelector('.material-tipo-producto')
          const alias = materialForm.querySelector('.material-alias')
          const unidadMedida = materialForm.querySelector('.material-unidad-medida')
          const esMaterialEmpaque = materialForm.querySelector('.material-es-material-empaque')
          const esProdTerminado = materialForm.querySelector('.material-es-prod-terminado')
  
          esParteOriginalValue = esParteOriginal.checked == true ? 'Si' : 'No'
          esMaterialEmpaqueValue = esMaterialEmpaque.checked == true ? 'Si' : 'No'
          esProdTerminadoValue = esProdTerminado.checked == true ? 'Si' : 'No'
  
          const newRow = bodyMaterials.insertRow()
          newRow.classList.add('table-row')
          newRow.id = `table-row-${index}`
          newRow.innerHTML = `
          <td>${tipoAlta.value}</td>
          <td>${subfamilia.value}</td>
          <td>${nombre.value}</td>
          <td>${largo.value}</td>
          <td>${ancho.value}</td>
          <td>${alto.value}</td>
          <td>${calibre.value}</td>
          <td>${material.value}</td>
          <td>${color.value}</td>
          <td>${marca.value}</td>
          <td>${parteModelo.value}</td>
          <td>${nombreComun.value}</td>
          <td>${esParteOriginalValue}</td>
          <td>${ingActivo.value}</td>
          <td>${tipoProducto.value}</td>
          <td>${alias.value}</td>
          <td>${unidadMedida.value}</td>
          <td>${esMaterialEmpaqueValue}</td>
          <td>${esProdTerminadoValue}</td>
          <td>
            <button id="edit-material-${index}" class="btn btn-primary edit-material" type="button" style="font-size:0.8rem">Editar</button>
          </td>
          <td>
            <button id="delete-material-${index}" class="btn btn-danger delete-material" type="button" style="font-size:0.8rem">Eliminar</button>
          </td>`
        })

        disableDeleteButtons()
      }

      if (tableMaterials) {
        fillTable()

        tableMaterials.addEventListener('click', function(event) {
          // Edit material
          if (event.target && event.target.classList.contains('edit-material')) {
            // Fill the table with the updated data
            fillTable()
            // Disable edit button
            const editButtons = tableMaterials.getElementsByClassName('edit-material');
            for (let i = 0; i < editButtons.length; i++) {
              editButtons[i].disabled = false
            }
            event.target.disabled = true
            // Show the selected form
            const forms = document.getElementsByClassName('material-form');
            for (let i = 0; i < forms.length; i++) {
              forms[i].style.display = 'none'
            }
            editingId = event.target.id.substring(14, event.target.id.length)
            const form = document.getElementById(`material-form-${editingId}`)
            if (form) {
              form.style.display = "block"
            }
          }
          // Delete material
          if (event.target && event.target.classList.contains('delete-material')) {
            deleteId = event.target.id.substring(16, event.target.id.length)
            const form = document.getElementById(`material-form-${deleteId}`)
            if (form) {
              form.remove()
              // Recorre todos los formularios restantes y actualiza sus índices
              const forms = materialFormsContainer.getElementsByClassName('material-form');
              for (let i = 0; i < forms.length; i++) {
                forms[i].id = `material-form-${i}`
                const inputs = forms[i].querySelectorAll('[id^=id_material-]');
                for (let j = 0; j < inputs.length; j++) {
                  inputs[j].id = inputs[j].id.replace(/\d+/, i);
                }
              }
            }
            fillTable()
          }
        })
      }

      const makeFieldsMandatory = () => {
        if (empresaOrigen) {
          empresaOrigen.setAttribute('required', true)
        }
        if (empresaDestino) {
          empresaDestino.setAttribute('required', true);
        }
        if (nombreProductoMigracion) {
          nombreProductoMigracion.setAttribute('required', true);
        }
        if (empresa) {
          empresa.setAttribute('required', true);
        }
        if (justificacion) {
          justificacion.setAttribute('required', true);
        }
      }

      makeFieldsMandatory()

      const makeFieldsOptional = () => {
        if (empresaOrigen) {
          empresaOrigen.removeAttribute('required')
        }
        if (empresaDestino) {
          empresaDestino.removeAttribute('required');
        }
        if (nombreProductoMigracion) {
          nombreProductoMigracion.removeAttribute('required');
        }
        if (empresa) {
          empresa.removeAttribute('required');
        }
        if (justificacion) {
          justificacion.removeAttribute('required');
        }
      }

      if (btnDelete) {
        btnDelete.addEventListener('click', () => {
          makeFieldsOptional()
        })
      }

      function enableSaveButton() {
        if(errorEmpresa.style.display == 'block' || errorJustificacion.style.display == 'block' || errorComentarios.style.display == 'block') {
          if(btnSave) {
            btnSave.disabled = true
            btnDelete.disabled = true
          }
          else {
            if(btnApprove && btnDecline) {
              btnApprove.disabled = true
              btnDecline.disabled = true
            }
          }
        }
        else {
          if (btnSave) {
            btnSave.disabled = false
            btnDelete.disabled = false
          }
          else {
            if (btnApprove && btnDecline) {
              btnApprove.disabled = false
              btnDecline.disabled = false
            }
          }
        }
      }
    });
  </script>
{% endblock %}
