{% extends 'base.html' %}

{% block content %}

<main class="container py-5 mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 align-self-center mx-auto">
          <form class="card card-body" method="POST">

            <h1 class="mb-4">Registrar material</h1>
          
            {{error}}
          
            {% csrf_token %}
            
            {{ solicitud_form.as_p }}
            
            <h3>Materiales</h3>

            <div id="material_container">
              {{ material_form.as_p }}
            </div>
            
            <button type="button" id="add-material">Añadir Material</button>
            
            <button type="submit">Submit</button>
          </form>
        </div>
    </div>
</main>

<script>
  $(document).ready(function() {

    let formCount = {{ initial_form_count }};

    $("#add-material").click(function() {
      const formHtml = {{ material_form.as_table }}.replace(/__prefix__/g, formCount);
      $("#material_container").append(formHtml);
      formCount++;
    });

    $(document).on("click", ".delete_material", function() {
      $(this).closest(".material_container").remove();
    });
  });
</script>

{% endblock %}