{% extends 'base.html' %}

{% block content %}

<main class="container py-5 mt-5">

    <div class="row">

        <div class="col-md-6 offset-md-3">

            <h1 class="text-center display-5">Solicitudes de materiales</h1>

            <ul style="list-style-type: none;" class="list-group mt-3">
                {% for material in materiales %}
                <a class="list-group-item" href="{% url 'material_detail' material.id %}">
                    <h2>{{material.nombre_producto}}</h2>
                    <p>{{material.fecha}}</p>
                    <section class="d-flex justify-content-between">
                        <p>Empresa: {{material.empresa}}</p>
                        <p>Solicitante: {{material.usuario.first_name}} {{material.usuario.last_name}}</p>
                    </section>
                    {% if material.compras %}
                    <p class="text-success">✅ Compras</p>
                    {% else %}
                    <p>🕐 Compras</p>
                    {% endif %}
                    {% if material.finanzas %}
                    <p class="text-success">✅ Finanzas</p>
                    {% else %}
                    <p>🕐 Finanzas</p>
                    {% endif %}
                    {% if material.sistemas %}
                    <p class="text-success">✅ Sistemas</p>
                    {% else %}
                    <p>🕐 Sistemas</p>
                    {% endif %}
                </a>
                {% endfor %}
            </ul>

        </div>

    </div>

</main>

{% endblock %}