{% extends 'base.html' %}

{% block content %}
  <main class="py-5 m-5">
    <div class="row mt-5 justify-content-center">
      <div style="max-width: 40rem;">
        <form class="card card-body" method="POST" style="background-color: rgb(255, 255, 255, 0.8);">
          <h1 class="mb-4">Detalle de la solicitud</h1>

          {{ error }}

          {% csrf_token %}

          <div style="display: none;">
            {{ solicitud_form.es_migracion.label_tag }}
            {{ solicitud_form.es_migracion }}
            <p id="error-es-migracion" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
          </div>

          {% if solicitud.es_migracion %}

            <!-- Material migración fields -->
            <h2 style="margin-bottom: 2rem;">Migración - {{ solicitud.nombre_producto_migracion }}</h2>

            <div id="material-migracion-empresas" style="display: flex; gap: 1rem;">
              <!-- Empresa origen -->
              <div style="width: 100%;">
                <p class="m-0">{{ solicitud_form.empresa_origen.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                {{ solicitud_form.empresa_origen }}
                <p id="error-empresa-origen" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
              </div>

              <!-- Empresa destino -->
              <div style="width: 100%;">
                <p class="m-0">{{ solicitud_form.empresa_destino.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                {{ solicitud_form.empresa_destino }}
                <p id="error-empresa-destino" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
              </div>
            </div>

            <p id="error-empresas-migracion" class="mt-0 mb-2" style="color:red; display:none;">Empresa origen y Empresa destino deben tener valores distintos</p>

            <!-- Nombre producto migracion field -->
            <div class="mt-3 mb-3">
              <label for="id_nombre_producto_migracion">Nombre producto:<span style="color: rgb(192, 0, 0);">*</span></label>
              {{ solicitud_form.nombre_producto_migracion }}
              <p id="error-rfc-migracion" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Ingrese un nombre de producto válido</p>
            </div>

          {% else %}

            <!-- Material nuevo fields -->
            <!-- Empresa field -->
            <div style="margin-bottom:1rem;">
              <p class="m-0">{{ solicitud_form.empresa.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
              {{ solicitud_form.empresa }}
              <p id="error-empresa" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
            </div>

            <!-- Justificación field -->
            <div style="margin-bottom:1rem;">
              <label for="id_justificacion">Justificación:<span style="color: rgb(192, 0, 0);">*</span></label>
              {{ solicitud_form.justificacion }}
              <p id="error-justificacion" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es requerido</p>
            </div>

            <h3>Materiales</h3>

            <div id="table-materials" class="table-responsive my-3" style="font-size: 0.8rem; background-color: rgb(255, 255, 255);">
              <table class="table table-bordered table-sm">
                <thead class="text-center">
                  <tr>
                    <th scope="col">Tipo alta</th>
                    <th scope="col">Subfamilia</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Largo</th>
                    <th scope="col">Ancho</th>
                    <th scope="col">Alto</th>
                    <th scope="col">Calibre</th>
                    <th scope="col">Material</th>
                    <th scope="col">Color</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Parte / Modelo</th>
                    <th scope="col">Nombre común</th>
                    <th scope="col">Ing. activo</th>
                    <th scope="col">Tipo producto</th>
                    <th scope="col">Alias</th>
                    <th scope="col">Unidad de medida</th>
                    <th scope="col">Código SAT</th>
                    <th scope="col">¿Es parte original?</th>
                    <th scope="col">¿Es material empaque?</th>
                    <th scope="col">¿Es prod. terminado?</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="tbody-materials"></tbody>
              </table>
            </div>

            <div id="material-forms">
              {% for form in material_forms %}
                <div id="material-form-{{ forloop.counter0 }}" class="material-form" style="display:none;">
                  
                  <!-- Tipo alta field -->
                  <div class="tipo-alta-container" style="margin-bottom:1rem;">
                    <p class="m-0">{{ form.tipo_alta.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                    {{ form.tipo_alta }}
                    <p id="error-tipo-alta" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                  </div>

                  <!-- Subfamilia field -->
                  <div class="subfamilia-container" style="margin-bottom:1rem;">
                    <p class="m-0">{{ form.subfamilia.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                    {{ form.subfamilia }}
                    <p id="error-subfamilia" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                  </div>

                  <!-- Nombre producto field -->
                  <div class="nombre-producto-container" style="margin-bottom:1rem;">
                    <p class="m-0">{{ form.nombre_producto.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                    {{ form.nombre_producto }}
                    <p id="error-nombre-producto" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                  </div>

                  <div id="medidas-container">
                    <p class="m-0">Medidas <span style="font-size: 0.8rem; font-style: italic;">(El valor debe ser numérico, fracción o N/A)</span></p>
                    
                    <div style="display: flex; gap: 1rem;">
                      <!-- Largo field -->
                      <div class="largo-container" style="width: 25%; margin-bottom:1rem;">
                        <p class="m-0">{{ form.largo.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                        {{ form.largo }}
                        <p id="error-largo" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">El valor debe ser numérico, fracción o N/A</p>
                      </div>
  
                      <!-- Ancho field -->
                      <div class="ancho-container" style="width: 25%; margin-bottom:1rem;">
                        <p class="m-0">{{ form.ancho.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                        {{ form.ancho }}
                        <p id="error-ancho" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">El valor debe ser numérico, fracción o N/A</p>
                      </div>
  
                      <!-- Alto field -->
                      <div class="alto-container" style="width: 25%; margin-bottom:1rem;">
                        <p class="m-0">{{ form.alto.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                        {{ form.alto }}
                        <p id="error-alto" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">El valor debe ser numérico, fracción o N/A</p>
                      </div>
  
                      <!-- Calibre field -->
                      <div class="calibre-container" style="width: 25%; margin-bottom:1rem;">
                        <p class="m-0">{{ form.calibre.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                        {{ form.calibre }}
                        <p id="error-calibre" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">El valor debe ser numérico, fracción o N/A</p>
                      </div>
                    </div>

                    <div id="id-unidades-medida" class="d-flex justify-content-between gap-3">
                      <div>
                        <label for="id-medidas-iguales">Todas las medidas tienen la misma unidad:</label>
                        <input type="checkbox" id="id-medidas-iguales" class="medidas-iguales">
                      </div>
  
                      <div class="mb-1" style="width: 12rem;">
                        <!-- UM Largo field -->
                        <div id="select-largo">
                          {{ form.um_largo }}
                          <p id="error-largo" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                        </div>
                        <!-- UM Ancho field -->
                        <div id="select-ancho" style="display: none;">
                          {{ form.um_ancho }}
                          <p id="error-ancho" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                        </div>
                        <!-- UM Alto field -->
                        <div id="select-alto" style="display: none;">
                          {{ form.um_alto }}
                          <p id="error-alto" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                        </div>
                        <!-- UM Calibre field -->
                        <div id="select-calibre" style="display: none;">
                          {{ form.um_calibre }}
                          <p id="error-calibre" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                        </div>

                        <p id="error-unidades-medida" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Seleccione una unidad para cada medida</p>
                      </div>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Material field -->
                    <div class="material-container" style="width: 50%; margin-bottom:1rem;">
                      <p class="m-0">{{ form.material.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ form.material }}
                      <p id="error-material" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Color field -->
                    <div class="color-container" style="width: 50%; margin-bottom:1rem;">
                      <p class="m-0">{{ form.color.label_tag }}<span style="color: rgb(192, 0, 0);">*</span></p>
                      {{ form.color }}
                      <p id="error-color" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Marca field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      {{ form.marca.label_tag }}
                      {{ form.marca }}
                      <p id="error-marca" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Parte / Modelo field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      <label for="id_parte_modelo">Parte / Modelo:</label>
                      {{ form.parte_modelo }}
                      <p id="error-parte-modelo" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Nombre común field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      <label for="id_nombre_comun">Nombre común:</label>
                      {{ form.nombre_comun }}
                      <p id="error-nombre-comun" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Ing activo field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      <label for="id_ing_activo">Ingrediente activo:</label>
                      {{ form.ing_activo }}
                      <p id="error-ing-activo" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Tipo producto field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      {{ form.tipo_producto.label_tag }}
                      {{ form.tipo_producto }}
                      <p id="error-tipo-producto" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Alias field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      {{ form.alias.label_tag }}
                      {{ form.alias }}
                      <p id="error-alias" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <div style="display: flex; gap: 1rem;">
                    <!-- Unidad de medida field -->
                    <div class="unidad-medida-container" style="width: 50%; margin-bottom:1rem;">
                      <label for="id_unidad_medida">Unidad de medida:<span style="color: rgb(192, 0, 0);">*</span></label>
                      {{ form.unidad_medida }}
                      <p id="error-unidad-medida" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Seleccione una opción válida</p>
                    </div>

                    <!-- Código sat field -->
                    <div style="width: 50%; margin-bottom:1rem;">
                      <label for="id_codigo_sat">Código SAT:</label>
                      {{ form.codigo_sat }}
                      <p id="error-codigo-sat" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <div style="display: flex; justify-content: space-between; gap: 2rem;">
                    <!-- Es parte original field -->
                    <div style="margin-bottom:1rem;">
                      {{ form.es_parte_original.label_tag }}
                      {{ form.es_parte_original }}
                      <p id="error-es-parte-original" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Es material empaque field -->
                    <div style="margin-bottom:1rem;">
                      {{ form.es_material_empaque.label_tag }}
                      {{ form.es_material_empaque }}
                      <p id="error-es-material-empaque" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>

                    <!-- Es prod terminado field -->
                    <div style="margin-bottom:1rem;">
                      <label for="id_es_prod_terminado">Es prod. terminado:</label>
                      {{ form.es_prod_terminado }}
                      <p id="error-es-prod-terminado" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es obligatorio</p>
                    </div>
                  </div>

                  <button class="btn btn-secondary mb-3 btn-save-changes" type="button">Guardar cambios</button>
                </div>
              {% endfor %}
            </div>

          {% endif %}

          <!-- Comentarios field -->
          <div style="margin-bottom:1rem;">
            {{ solicitud_form.comentarios.label_tag }}
            {{ solicitud_form.comentarios }}
            <p id="error-comentarios" style="font-size: 0.9rem; color:red; margin-bottom:0; display:none;">Este campo es requerido</p>
          </div>

          <div id="buttons-container" class="d-flex justify-content-between gap-2">
            {% if solicitud.rechazado_compras == True or solicitud.rechazado_finanzas == True or solicitud.rechazado_sistemas == True or solicitud.borrador == True %}
              {% if solicitud.es_migracion %}
                <button id="btn-save" class="btn w-100 btn-save" style="margin-top: 0.5rem; background-color: #008841; color: white; font-weight: bold;" type="submit" name="finanzas" value="True">Enviar</button>
              {% else %}
                <button id="btn-save" class="btn w-100 btn-save" style="margin-top: 0.5rem; background-color: #008841; color: white; font-weight: bold;" type="submit" name="pendiente" value="True">Enviar</button>
              {% endif %}

              <button id="btn-delete" class="btn btn-delete w-100" style="margin-top: 0.5rem; background-color: tomato; color: white; font-weight: bold;" type="submit" name="eliminado" value="True">Eliminar solicitud</button>
            {% endif %}

            {% if solicitud.pendiente == True and current_user.compras == True %}
              <button id="btn-approve" class="btn btn-approve w-100" style="margin-top: 0.5rem; background-color: #008841; color: white; font-weight: bold;" type="submit" name="compras" value="True">Aprobar</button>

              <button id="btn-decline" class="btn btn-reject w-100" style="margin-top: 0.5rem; background-color: tomato; color: white; font-weight: bold;" type="submit" name="rechazado_compras" value="True">Rechazar</button>
            {% endif %}

            {% if solicitud.compras == True and current_user.finanzas == True %}
              <button id="btn-approve" class="btn btn-approve w-100" style="margin-top: 0.5rem; background-color: #008841; color: white; font-weight: bold;" type="submit" name="finanzas" value="True">Aprobar</button>

              <button id="btn-decline" class="btn btn-reject w-100" style="margin-top: 0.5rem; background-color: tomato; color: white; font-weight: bold;" type="submit" name="rechazado_finanzas" value="True">Rechazar</button>
            {% endif %}

            {% if solicitud.finanzas == True and current_user.sistemas == True %}
              <button id="btn-approve" class="btn btn-approve w-100" style="margin-top: 0.5rem; background-color: #008841; color: white; font-weight: bold;" type="submit" name="sistemas" value="True">Aprobar</button>

              <button id="btn-decline" class="btn btn-reject w-100" style="margin-top: 0.5rem; background-color: tomato; color: white; font-weight: bold;" type="submit" name="rechazado_sistemas" value="True">Rechazar</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Containers
      const materialFormsContainer = document.getElementById('material-forms');
      const tableMaterials = document.getElementById('table-materials')
      const bodyMaterials = document.getElementById('tbody-materials')
      const buttonsContainer = document.getElementById('buttons-container');
      let materialCounter = 0

      // Inputs
      const empresaOrigen = document.getElementById('id_empresa_origen')
      const empresaDestino = document.getElementById('id_empresa_destino')
      const nombreProductoMigracion = document.getElementById('id_nombre_producto_migracion')
      const empresa = document.getElementById('id_empresa')
      const justificacion = document.getElementById('id_justificacion')
      const comentarios = document.getElementById('id_comentarios')
      
      // Error messages
      const errorEmpresaOrigen = document.getElementById('error-empresa-origen')
      const errorEmpresaDestino = document.getElementById('error-empresa-destino')
      const errorEmpresasMigracion = document.getElementById('error-empresas-migracion')
      const errorNombreProductoMigracion = document.getElementById('error-rfc-migracion')
      const errorEmpresa = document.getElementById('error-empresa')
      const errorJustificacion = document.getElementById('error-justificacion')
      const errorComentarios = document.getElementById('error-comentarios')
      
      // Buttons
      const btnSave = document.getElementById('btn-save')
      const btnDelete = document.getElementById('btn-delete')
      const btnApprove = document.getElementById('btn-approve')
      const btnDecline = document.getElementById('btn-decline')
      const btnSaveChanges = document.getElementById('btn-save-changes')
      
      // Regular expressions
      const fraccionPattern = /^(\d+(\.\d+)?\/\d+(\.\d+)?)$/;

      // Counters and bands
      let medidasIguales = false

      if (materialFormsContainer) {
        materialFormsContainer.addEventListener('click', (event) => {
          // If the "Save changes" button is clicked, hide the forms and refresh the table
          if (event.target && event.target.classList.contains('btn-save-changes')) {
            const form = event.target.closest('.material-form')
            errorTipoAlta = form.querySelector('#error-tipo-alta')
            errorSubfamilia = form.querySelector('#error-subfamilia')
            errorNombreProducto = form.querySelector('#error-nombre-producto')
            errorLargo = form.querySelector('#error-largo')
            errorAncho = form.querySelector('#error-ancho')
            errorAlto = form.querySelector('#error-alto')
            errorCalibre = form.querySelector('#error-calibre')
            errorUnidadesMedida = form.querySelector('#error-unidades-medida')
            errorMaterial = form.querySelector('#error-material')
            errorColor = form.querySelector('#error-color')
            errorUnidadMedida = form.querySelector('#error-unidad-medida')

            const umLargo = form.querySelector('.select-um-largo')
            const umAncho = form.querySelector('.select-um-ancho')
            const umAlto = form.querySelector('.select-um-alto')
            const umCalibre = form.querySelector('.select-um-calibre')

            if (umLargo.value == '' || umAncho.value == '' || umAlto.value == '' || umCalibre.value == '') {
              errorUnidadesMedida.style.display = 'block'
              return
            } else {
              errorUnidadesMedida.style.display = 'none'
            }
  
            if (errorTipoAlta.style.display == 'block' || errorSubfamilia.style.display == 'block' || errorNombreProducto.style.display == 'block' || errorLargo.style.display == 'block' || errorAncho.style.display == 'block' || errorAlto.style.display == 'block' || errorCalibre.style.display == 'block' || errorUnidadesMedida.style.display == 'block' || errorMaterial.style.display == 'block' || errorColor.style.display == 'block' || errorUnidadMedida.style.display == 'block') {
              window.alert('Algún campo está vacío o es incorrecto')
            }
            else {
              const forms = materialFormsContainer.querySelectorAll('.material-form');
              forms.forEach(form => {
                form.style.display = 'none'
              })
              const editButtons = tableMaterials.querySelectorAll('.edit-material');
              editButtons.forEach(editButton => {
                editButton.removeAttribute('disabled')
              })
              fillTable()
            }
          }
        })
      }
      
      buttonsContainer.addEventListener('click', function(event) {  
        if (event.target && event.target.classList.contains('btn-save')) {
          comentarios.value = ''
        }
        if (event.target && event.target.classList.contains('btn-reject')) {
          comentarios.setAttribute('required', 'true')
          if(comentarios.value == '') {
            errorComentarios.style.display = 'block'
          }
        }
        if (event.target && event.target.classList.contains('btn-approve')) {
          comentarios.removeAttribute('required')
          comentarios.value = ''
        }
      });

      const disableDeleteButtons = () => {
        const deleteButtons = tableMaterials.getElementsByClassName('delete-material')
        if (materialCounter > 1) {
          for (i=0; i<deleteButtons.length; i++) {
            deleteButtons[i].removeAttribute('disabled')
          }
        }
        else {
          for (i=0; i<deleteButtons.length; i++) {
            deleteButtons[i].setAttribute('disabled', true)
          }
        }
      }

      // FIELD VALIDATION
      
      // Validacion empresa origen
      if (empresaOrigen) {
        empresaOrigen.addEventListener('change', () => {
          if (empresaOrigen.value == '') {
            errorEmpresaOrigen.style.display = 'block'
            errorEmpresasMigracion.style.display = 'none'
          } else {
            errorEmpresaOrigen.style.display = 'none'
            // No se puede seleccionar la misma opción que en "Empresa origen"
            if (empresaOrigen.value == empresaDestino.value) {
              errorEmpresasMigracion.style.display = 'block'
            } else {
              errorEmpresasMigracion.style.display = 'none'
            }
          }
          enableSaveButton()
        })
      }
      
      // Validacion empresa destino
      if (empresaDestino) {
        empresaDestino.addEventListener('change', () => {
          if (empresaDestino.value == '') {
            errorEmpresaDestino.style.display = 'block'
            errorEmpresasMigracion.style.display = 'none'
          } else {
            errorEmpresaDestino.style.display = 'none'
            // No se puede seleccionar la misma opción que en "Empresa origen"
            if (empresaOrigen.value == empresaDestino.value) {
              errorEmpresasMigracion.style.display = 'block'
            } else {
              errorEmpresasMigracion.style.display = 'none'
            }
          }
          enableSaveButton()
        })
      }
      
      // Validacion nombre producto migracion
      if (nombreProductoMigracion) {
        nombreProductoMigracion.addEventListener('input', () => {
          if (nombreProductoMigracion.value != '') {
            errorNombreProductoMigracion.style.display = 'none'
          } else {
            errorNombreProductoMigracion.style.display = 'block'
          }
          enableSaveButton()
        })
      }
    
      // Validacion empresa
      if (empresa) {
        empresa.addEventListener('change', () => {
          if (empresa.value == '') {
            errorEmpresa.style.display = 'block'
          } else {
            errorEmpresa.style.display = 'none'
          }
          enableSaveButton()
        })
      }
      
      // Validacion justificacion
      if (justificacion) {
        justificacion.addEventListener('input', () => {
          if (justificacion.value == '') {
            errorJustificacion.style.display = 'block'
          } else {
            errorJustificacion.style.display = 'none'
          }
          enableSaveButton()
        })
      }

      const validarCamposMaterial = () => {

        // Validación tipo alta
        var tipoAltaInputs = document.querySelectorAll('.material-tipo-alta')
        tipoAltaInputs.forEach(function(input) {
            input.addEventListener('change', function() {
                var tipoAltaValue = input.value
                var container = input.closest('.tipo-alta-container')
                var errorTipoAlta = container.querySelector('#error-tipo-alta')
                // Verificar si el campo está vacío
                if (tipoAltaValue == '') {
                  errorTipoAlta.style.display = 'block'
                } else {
                  errorTipoAlta.style.display = 'none'
                }
            })
        })

        // Validación subfamilia
        var subfamiliaInputs = document.querySelectorAll('.material-subfamilia')
        subfamiliaInputs.forEach(function(input) {
            input.addEventListener('change', function() {
                var subfamiliaValue = input.value
                var container = input.closest('.subfamilia-container')
                var errorSubfamilia = container.querySelector('#error-subfamilia')
                // Verificar si el campo está vacío
                if (subfamiliaValue == '') {
                  errorSubfamilia.style.display = 'block'
                } else {
                  errorSubfamilia.style.display = 'none'
                }
            })
        })

        // Validación nombre producto
        var nombreProductoInputs = document.querySelectorAll('.material-nombre')
        nombreProductoInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var nombreProductoValue = input.value
                var container = input.closest('.nombre-producto-container')
                var errorNombreProducto = container.querySelector('#error-nombre-producto')
                // Verificar si el campo está vacío
                if (nombreProductoValue == '') {
                  errorNombreProducto.style.display = 'block'
                } else {
                  errorNombreProducto.style.display = 'none'
                }
            })
        })

        // Validación largo
        var largoInputs = document.querySelectorAll('.material-largo')
        largoInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var largoValue = input.value
                var container = input.closest('.largo-container')
                var errorLargo = container.querySelector('#error-largo')
                // Verificar si el valor es "N/A" o numérico
                if (largoValue === 'N/A' || 
                  !isNaN(parseFloat(largoValue)) && isFinite(largoValue) || 
                  fraccionPattern.test(largoValue)) {
                    errorLargo.style.display = 'none'
                } else {
                    errorLargo.style.display = 'block'
                }
            })
            input.addEventListener('focus', () => {
              var medidasContainer = input.closest('#medidas-container')
              var selectLargo = medidasContainer.querySelector('#select-largo')
              var selectAncho = medidasContainer.querySelector('#select-ancho')
              var selectAlto = medidasContainer.querySelector('#select-alto')
              var selectCalibre = medidasContainer.querySelector('#select-calibre')
              selectLargo.style.display = 'block'
              selectAncho.style.display = 'none'
              selectAlto.style.display = 'none'
              selectCalibre.style.display = 'none'
            })
        })

        // Validación ancho
        var anchoInputs = document.querySelectorAll('.material-ancho')
        anchoInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var anchoValue = input.value
                var container = input.closest('.ancho-container')
                var errorAncho = container.querySelector('#error-ancho')
                // Verificar si el valor es "N/A" o numérico
                if (anchoValue === 'N/A' || 
                  !isNaN(parseFloat(anchoValue)) && isFinite(anchoValue) || 
                  fraccionPattern.test(anchoValue)) {
                    errorAncho.style.display = 'none'
                } else {
                    errorAncho.style.display = 'block'
                }
            })
            input.addEventListener('focus', () => {
              if (!medidasIguales) {
                var medidasContainer = input.closest('#medidas-container')
                var selectLargo = medidasContainer.querySelector('#select-largo')
                var selectAncho = medidasContainer.querySelector('#select-ancho')
                var selectAlto = medidasContainer.querySelector('#select-alto')
                var selectCalibre = medidasContainer.querySelector('#select-calibre')
                selectLargo.style.display = 'none'
                selectAncho.style.display = 'block'
                selectAlto.style.display = 'none'
                selectCalibre.style.display = 'none'
              }
            })
        })

        // Validación alto
        var altoInputs = document.querySelectorAll('.material-alto')
        altoInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var altoValue = input.value
                var container = input.closest('.alto-container')
                var errorAlto = container.querySelector('#error-alto')
                // Verificar si el valor es "N/A" o numérico
                if (altoValue === 'N/A' || 
                  !isNaN(parseFloat(altoValue)) && isFinite(altoValue) || 
                  fraccionPattern.test(altoValue)) {
                    errorAlto.style.display = 'none'
                } else {
                    errorAlto.style.display = 'block'
                }
            })
            input.addEventListener('focus', () => {
              if (!medidasIguales) {
                var medidasContainer = input.closest('#medidas-container')
                var selectLargo = medidasContainer.querySelector('#select-largo')
                var selectAncho = medidasContainer.querySelector('#select-ancho')
                var selectAlto = medidasContainer.querySelector('#select-alto')
                var selectCalibre = medidasContainer.querySelector('#select-calibre')
                selectLargo.style.display = 'none'
                selectAncho.style.display = 'none'
                selectAlto.style.display = 'block'
                selectCalibre.style.display = 'none'
              }
            })
        })

        // Validación calibre
        var calibreInputs = document.querySelectorAll('.material-calibre')
        calibreInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var calibreValue = input.value
                var container = input.closest('.calibre-container')
                var errorCalibre = container.querySelector('#error-calibre')
                // Verificar si el valor es "N/A" o numérico
                if (calibreValue === 'N/A' || 
                  !isNaN(parseFloat(calibreValue)) && isFinite(calibreValue) || 
                  fraccionPattern.test(calibreValue)) {
                    errorCalibre.style.display = 'none'
                } else {
                    errorCalibre.style.display = 'block'
                }
            })
            input.addEventListener('focus', () => {
              if (!medidasIguales) {
                var medidasContainer = input.closest('#medidas-container')
                var selectLargo = medidasContainer.querySelector('#select-largo')
                var selectAncho = medidasContainer.querySelector('#select-ancho')
                var selectAlto = medidasContainer.querySelector('#select-alto')
                var selectCalibre = medidasContainer.querySelector('#select-calibre')
                selectLargo.style.display = 'none'
                selectAncho.style.display = 'none'
                selectAlto.style.display = 'none'
                selectCalibre.style.display = 'block'
              }
            })
        })
        
        // Validación medidas iguales
        var mismaMedidaInputs = document.querySelectorAll('.medidas-iguales')
        mismaMedidaInputs.forEach(input => {
          input.addEventListener('change', () => {
            if (input.checked) {
              var unidadesMedidaContainer = input.closest('#id-unidades-medida')
              var largo = unidadesMedidaContainer.querySelector('.select-um-largo')
              var ancho = unidadesMedidaContainer.querySelector('.select-um-ancho')
              var alto = unidadesMedidaContainer.querySelector('.select-um-alto')
              var calibre = unidadesMedidaContainer.querySelector('.select-um-calibre')
              ancho.value = largo.value
              alto.value = largo.value
              calibre.value = largo.value
              unidadesMedidaContainer.querySelector('#select-largo').style.display = 'block'
              unidadesMedidaContainer.querySelector('#select-ancho').style.display = 'none'
              unidadesMedidaContainer.querySelector('#select-alto').style.display = 'none'
              unidadesMedidaContainer.querySelector('#select-calibre').style.display = 'none'
              medidasIguales = true
            }
            else {
              medidasIguales = false
            }
          })
        })

        // Validación unidad de medida para largo
        var umLargoInputs = document.querySelectorAll('.select-um-largo')
        umLargoInputs.forEach(input => {
          input.addEventListener('change', () => {
            if (medidasIguales) {
              var medidasContainer = input.closest('#medidas-container')
              var ancho = medidasContainer.querySelector('.select-um-ancho')
              var alto = medidasContainer.querySelector('.select-um-alto')
              var calibre = medidasContainer.querySelector('.select-um-calibre')
              ancho.value = input.value
              alto.value = input.value
              calibre.value = input.value
            }
          })
        })

        // Validación material
        var materialInputs = document.querySelectorAll('.material-material')
        materialInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var materialValue = input.value
                var container = input.closest('.material-container')
                var errorMaterial = container.querySelector('#error-material')
                if (materialValue == '') {
                    errorMaterial.style.display = 'block'
                } else {
                    errorMaterial.style.display = 'none'
                }
            })
        })

        // Validación color
        var colorInputs = document.querySelectorAll('.material-color')
        colorInputs.forEach(function(input) {
            input.addEventListener('input', function() {
                var colorValue = input.value
                var container = input.closest('.color-container')
                var errorColor = container.querySelector('#error-color')
                if (colorValue == '') {
                    errorColor.style.display = 'block'
                } else {
                    errorColor.style.display = 'none'
                }
            })
        })

        // Validación unidad de medida
        var unidadMedidaInputs = document.querySelectorAll('.material-unidad-medida')
        unidadMedidaInputs.forEach(function(input) {
            input.addEventListener('change', function() {
                var unidadMedidaValue = input.value
                var container = input.closest('.unidad-medida-container')
                var errorUnidadMedida = container.querySelector('#error-unidad-medida')
                // Verificar si el campo está vacío
                if (unidadMedidaValue == '') {
                  errorUnidadMedida.style.display = 'block'
                } else {
                  errorUnidadMedida.style.display = 'none'
                }
            })
        })
      }

      validarCamposMaterial()

      const fillTable = () => {
        materialCounter = 0
        bodyMaterials.innerHTML = ''
        const materialForms = document.querySelectorAll('.material-form')
        materialForms.forEach((materialForm, index) => {
          materialCounter += 1
          const tipoAlta = materialForm.querySelector('.material-tipo-alta')
          const subfamilia = materialForm.querySelector('.material-subfamilia')
          const nombre = materialForm.querySelector('.material-nombre')
          const largo = materialForm.querySelector('.material-largo')
          const ancho = materialForm.querySelector('.material-ancho')
          const alto = materialForm.querySelector('.material-alto')
          const calibre = materialForm.querySelector('.material-calibre')
          const umLargo = materialForm.querySelector('.material-um-largo')
          const umAncho = materialForm.querySelector('.material-um-ancho')
          const umAlto = materialForm.querySelector('.material-um-alto')
          const umCalibre = materialForm.querySelector('.material-um-calibre')
          const material = materialForm.querySelector('.material-material')
          const color = materialForm.querySelector('.material-color')
          const marca = materialForm.querySelector('.material-marca')
          const parteModelo = materialForm.querySelector('.material-parte-modelo')
          const nombreComun = materialForm.querySelector('.material-nombre-comun')
          const ingActivo = materialForm.querySelector('.material-ing-activo')
          const tipoProducto = materialForm.querySelector('.material-tipo-producto')
          const alias = materialForm.querySelector('.material-alias')
          const unidadMedida = materialForm.querySelector('.material-unidad-medida')
          const codigoSat = materialForm.querySelector('.material-codigo-sat')
          const esParteOriginal = materialForm.querySelector('.material-es-parte-original')
          const esMaterialEmpaque = materialForm.querySelector('.material-es-material-empaque')
          const esProdTerminado = materialForm.querySelector('.material-es-prod-terminado')
  
          esParteOriginalValue = esParteOriginal.checked == true ? 'Si' : 'No'
          esMaterialEmpaqueValue = esMaterialEmpaque.checked == true ? 'Si' : 'No'
          esProdTerminadoValue = esProdTerminado.checked == true ? 'Si' : 'No'
  
          const newRow = bodyMaterials.insertRow()
          newRow.classList.add('table-row')
          newRow.id = `table-row-${index}`
          newRow.innerHTML = `
          <td>${tipoAlta.value}</td>
          <td>${subfamilia.value}</td>
          <td>${nombre.value}</td>
          <td>${largo.value} ${umLargo.value}</td>
          <td>${ancho.value} ${umAncho.value}</td>
          <td>${alto.value} ${umAlto.value}</td>
          <td>${calibre.value} ${umCalibre.value}</td>
          <td>${material.value}</td>
          <td>${color.value}</td>
          <td>${marca.value}</td>
          <td>${parteModelo.value}</td>
          <td>${nombreComun.value}</td>
          <td>${ingActivo.value}</td>
          <td>${tipoProducto.value}</td>
          <td>${alias.value}</td>
          <td>${unidadMedida.value}</td>
          <td>${codigoSat.value}</td>
          <td>${esParteOriginalValue}</td>
          <td>${esMaterialEmpaqueValue}</td>
          <td>${esProdTerminadoValue}</td>
          <td>
            <button id="edit-material-${index}" class="btn btn-primary edit-material" type="button" style="font-size:0.8rem">Editar</button>
          </td>
          <td>
            <button id="delete-material-${index}" class="btn btn-danger delete-material" type="button" style="font-size:0.8rem">Eliminar</button>
          </td>`
        })

        disableDeleteButtons()
      }

      if (tableMaterials) {
        fillTable()

        tableMaterials.addEventListener('click', function(event) {
          // Edit material
          if (event.target && event.target.classList.contains('edit-material')) {
            // Fill the table with the updated data
            fillTable()
            // Disable edit button
            const editButtons = tableMaterials.querySelectorAll('.edit-material');
            editButtons.forEach(editButton => {
              editButton.setAttribute('disabled', true)
            })
            event.target.disabled = true
            // Show the selected form
            const forms = document.getElementsByClassName('material-form');
            for (let i = 0; i < forms.length; i++) {
              forms[i].style.display = 'none'
            }
            editingId = event.target.id.substring(14, event.target.id.length)
            const form = document.getElementById(`material-form-${editingId}`)
            if (form) {
              form.style.display = "block"
              medidasIguales = false
            }
          }
          // Delete material
          if (event.target && event.target.classList.contains('delete-material')) {
            deleteId = event.target.id.substring(16, event.target.id.length)
            const form = document.getElementById(`material-form-${deleteId}`)
            if (form) {
              form.remove()
              // Recorre todos los formularios restantes y actualiza sus índices
              const forms = materialFormsContainer.querySelectorAll('.material-form');
              var counter = 0
              forms.forEach(form => {
                form.id = `material-form-${counter}`
                const inputs = form.querySelectorAll('[id^=id_material-]');
                for (let j = 0; j < inputs.length; j++) {
                  inputs[j].id = inputs[j].id.replace(/\d+/, i);
                }
                form.style.display = 'none'
                counter++
              })
            }
            fillTable()
          }
        })
      }

      const makeFieldsMandatory = () => {
        if (empresaOrigen) {
          empresaOrigen.setAttribute('required', true)
        }
        if (empresaDestino) {
          empresaDestino.setAttribute('required', true);
        }
        if (nombreProductoMigracion) {
          nombreProductoMigracion.setAttribute('required', true);
        }
        if (empresa) {
          empresa.setAttribute('required', true);
        }
        if (justificacion) {
          justificacion.setAttribute('required', true);
        }
      }

      makeFieldsMandatory()

      const makeFieldsOptional = () => {
        if (empresaOrigen) {
          empresaOrigen.removeAttribute('required')
        }
        if (empresaDestino) {
          empresaDestino.removeAttribute('required');
        }
        if (nombreProductoMigracion) {
          nombreProductoMigracion.removeAttribute('required');
        }
        if (empresa) {
          empresa.removeAttribute('required');
        }
        if (justificacion) {
          justificacion.removeAttribute('required');
        }
      }

      if (btnDelete) {
        btnDelete.addEventListener('click', () => {
          makeFieldsOptional()
        })
      }

      function enableSaveButton() {
        if(errorEmpresaOrigen) {
          if(errorEmpresaOrigen.style.display == 'block' || errorEmpresaDestino.style.display == 'block' || errorEmpresasMigracion.style.display == 'block' || errorNombreProductoMigracion.style.display == 'block') {
            if(btnSave) {
              btnSave.disabled = true
              btnDelete.disabled = true
            }
            else {
              if(btnApprove && btnDecline) {
                btnApprove.disabled = true
                btnDecline.disabled = true
              }
            }
          }
          else {
            if (btnSave) {
              btnSave.disabled = false
              btnDelete.disabled = false
            }
            else {
              if (btnApprove && btnDecline) {
                btnApprove.disabled = false
                btnDecline.disabled = false
              }
            }
          }
        }
        else {
          if (errorEmpresa.style.display == 'block' || errorJustificacion.style.display == 'block' || errorComentarios.style.display == 'block') {
            if(btnSave) {
              btnSave.disabled = true
              btnDelete.disabled = true
            }
            else {
              if(btnApprove && btnDecline) {
                btnApprove.disabled = true
                btnDecline.disabled = true
              }
            }
          }
          else {
            if (btnSave) {
              btnSave.disabled = false
              btnDelete.disabled = false
            }
            else {
              if (btnApprove && btnDecline) {
                btnApprove.disabled = false
                btnDecline.disabled = false
              }
            }
          }
        }
      }
    });
  </script>
{% endblock %}
