{% extends 'base.html' %}

{% block content %}

<main class="container py-5 mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 align-self-center mx-auto">
      <form class="card card-body" method="POST">

        <h1 class="mb-4">Registrar material</h1>

        {{error}}

        {% csrf_token %}

        {{ material_solicitud_form.as_p }}
        
        <div id="material-forms-container">
          {% for form in material_forms %}
            <div class="material-form">
              {{ form.as_p }}
            </div>
          {% endfor %}
        </div>
        
        <button type="button" id="agregar-material" class="btn btn-success mb-2">Agregar material</button>

        <hr />

        <button type="submit" class="btn btn-primary mt-2">Guardar</button>

      </form>
    </div>
  </div>
</main>
  
<script>
  var tipo_alta
  var tipo
  var familia
  var subfamilia
  var unidad_medida

  document.addEventListener('DOMContentLoaded', () => {
    const agregarMaterialBtn = document.querySelector('#agregar-material')
    const materialFormsContainer = document.querySelector('#material-forms-container')
    
    let formCounter = {{ material_forms|length }}
    
    agregarMaterialBtn.addEventListener('click', () => {
      const formHTML = `
      <div class="material-form">
        <hr class="mt-0 mb-4"></hr>
        <input type="hidden" name="form-TOTAL_FORMS" value="${formCounter + 1}" id="id_form-TOTAL_FORMS">
        <input type="hidden" name="form-INITIAL_FORMS" value="{{ material_forms|length }}" id="id_form-INITIAL_FORMS">
        <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
        <input type="hidden" name="form-MAX_NUM_FORMS" value="" id="id_form-MAX_NUM_FORMS">
        {{ material_forms.0.management_form }}
        {% for form in material_forms %}
          <div class="material-form-fields">
            {{ form.as_p }}
            <button type="button" class="btn btn-danger btn-sm eliminar-material mb-4">Eliminar</button>
          </div>
        {% endfor %}
      </div>`

      materialFormsContainer.insertAdjacentHTML('beforeend', formHTML.replace(/__prefix__/g, formCounter))
      formCounter++
    })
    
    materialFormsContainer.addEventListener('click', (event) => {
      if (event.target.classList.contains('eliminar-material')) {
        event.target.closest('.material-form').remove()
      }
    })
    
    materialFormsContainer.addEventListener('change', (event) => {
      if (event.target.classList.contains('material-tipo-alta')) {
        tipo_alta = event.target
        tipo = event.target.closest('.material-form').querySelector('.material-tipo')
        unidad_medida = event.target.closest('.material-form').querySelector('.material-unidad-medida')
        actualizarOpcionesTipo()
        actualizarOpcionesUnidadMedida()
      } else {
        if (event.target.classList.contains('material-tipo')) {
          tipo = event.target
          familia = event.target.closest('.material-form').querySelector('.material-familia')
          actualizarOpcionesFamilia()
        } else {
          if (event.target.classList.contains('material-familia')) {
            familia = event.target
            subfamilia = event.target.closest('.material-form').querySelector('.material-subfamilia')
            actualizarOpcionesSubfamilia()
          }
        }
      }
    })

    const actualizarOpcionesTipo = () => {
      var opcionSeleccionada = tipo_alta.value
      var opciones = {{ tipo_list|safe }}
      tipo.options.length = 0
      opciones[opcionSeleccionada].forEach((opcion) => {
          var option = document.createElement("option")
          option.value = opcion.value
          option.text = opcion.display
          tipo.appendChild(option)
      })
    }

    const actualizarOpcionesUnidadMedida = () => {
      var opcionSeleccionada = tipo_alta.value
      var opciones = {{ unidad_medida_list|safe }}
      unidad_medida.options.length = 0
      opciones[opcionSeleccionada].forEach((opcion) => {
          var option = document.createElement("option")
          option.value = opcion.value
          option.text = opcion.display
          unidad_medida.appendChild(option)
      })
    }

    const actualizarOpcionesFamilia = () => {
      var opcionSeleccionada = tipo.value
      var opciones = {{ familia_list|safe }}
      familia.options.length = 0
      opciones[opcionSeleccionada].forEach((opcion) => {
          var option = document.createElement("option")
          option.value = opcion.value
          option.text = opcion.display
          familia.appendChild(option)
      })
    }

    const actualizarOpcionesSubfamilia = () => {
      var opcionSeleccionada = familia.value
      var opciones = {{ subfamilia_list|safe }}
      subfamilia.options.length = 0
      opciones[opcionSeleccionada].forEach((opcion) => {
          var option = document.createElement("option")
          option.value = opcion.value
          option.text = opcion.display
          subfamilia.appendChild(option)
      })
    }
  })
</script>

{% endblock %}