{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main class="p-5 row justify-content-center">
    <section class="card card-body" style="max-width: 70rem; margin-top: 6rem; background-color: rgb(255, 255, 255, 0.8);">
      <h1 class="text-center display-5 py-3">Alta de proveedores, clientes y materiales</h1>

      {% if user.puede_comprar %}
        <div class="d-flex align-items-center justify-content-between gap-4 mt-2 mb-4" style="max-width: 50rem;">
          <p class="ms-3 my-auto fw-bold">Seleccione la siguiente opción para crear una solicitud de alta de proveedor</p>
          <a class="btn" href="proveedores/crear" style="width: 10rem; background-color: #008841; color: white; font-weight: bold;">Crear proveedor</a>
        </div>

        <div class="d-flex align-items-center justify-content-between gap-4 mb-2" style="max-width: 50rem;">
          <p class="ms-3 my-auto fw-bold">Seleccione la siguiente opción para crear una solicitud de alta de material</p>
          <a class="btn" href="materiales/crear" style="width: 10rem; background-color: #008841; color: white; font-weight: bold;">Crear material</a>
        </div>
      {% else %}
        <div class="d-flex align-items-center justify-content-between gap-4 mt-2 mb-4" style="max-width: 50rem;">
          <p class="ms-3 my-auto fw-bold">Seleccione la siguiente opción para aprobar solicitudes de alta de proveedor</p>
          <a class="btn" href="proveedores" style="width: 10rem; background-color: #008841; color: white; font-weight: bold;">Ver solicitudes</a>
        </div>

        <div class="d-flex align-items-center justify-content-between gap-4 mb-2" style="max-width: 50rem;">
          <p class="ms-3 my-auto fw-bold">Seleccione la siguiente opción para aprobar solicitudes de alta de material</p>
          <a class="btn" href="./materiales" style="width: 10rem; background-color: #008841; color: white; font-weight: bold;">Ver solicitudes</a>
        </div>
      {% endif %}
    </section>
    
    <div class="position-absolute bottom-0 w-100 d-none justify-content-center align-items-center gap-4 mt-5 p-4 d-lg-flex" style="background-color: green; left: 0;">
      <img src="{% static 'images/ricofarms-gif.gif' %}" alt="Logo" />
      <p class="mb-0 fw-bold text-white">En Ricofarms, estamos comprometidos en brindarte una plataforma eficiente y sencilla para gestionar tus solicitudes de alta de proveedores, clientes y materiales de manera efectiva. Nuestra plataforma está diseñada pensando en tus necesidades y en simplificar tus procesos de registro y gestión.</p>
    </div>
  </main>
{% endblock %}
